.changelog * {
	display: inline-flex;
	margin: 0;
}

.changelog h2:first-of-type {
	margin-top: 1em;
}

.changelog h2 {
	display: flex;
	margin-top: 0.75em;
	font-family: var(--sub-font);
}

h2.flex {
	font-family: var(--sub-font);
}

.latest {
	display: inline-flex;
	justify-content: center;
	place-items: center;
	padding: 0 8px;
	color: var(--main);
	background: var(--foot-link);
	font-family: var(--sub-font);
	font-size: 0.35em;
	font-weight: 900;
	border-radius: 1em;
	margin: 1em 0;
	font-family: var(--sub-font);
	text-transform: uppercase;
}
@media screen and (max-width: 667px) {
	.latest {
		padding: 1.5px 8px 0 8px;
	}
}
