@font-face {
  font-family: 'M Plus Rounded 1c Reg';
  src: url('/fonts/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'M Plus Rounded 1c Med';
  src: url('/fonts/MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/Atkinson-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/Atkinson-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@media (prefers-color-scheme: light) {
  :root, html {
    font-size: 24px;
    --main: rgb(255, 255, 255);
    --text: rgb(32, 33, 36);
    --primary: rgb(44 156 195);
    --secondary: rgb(0, 150, 150);
    --accent: rgb(182, 193, 210);
    --link: rgb(200, 0, 0);
    --hover: rgb(140, 0, 0);
    --tags: rgb(44 156 195);
    --emphasis: rgb(40, 108, 96);
    --name: rgb(44 156 195);
    --date: rgb(72, 100, 100);
    --menu: rgb(205, 110, 10);
    --form: rgb(32, 33, 36);
    --info: rgb(241, 84, 0);
    --info-bg: rgb(239, 201, 15);
    --blockquote: rgb(255, 235, 215);
    --code-bg: hsl(0, 0%, 90%);
    --code-text: hsl(220, 13%, 18%);
    --coffee: rgb(242, 207, 43);
    --svg: invert(46%) sepia(86%) saturate(389%) hue-rotate(150deg) brightness(93%) contrast(98%);
    --ext: invert(88%) sepia(69%) saturate(7500%) hue-rotate(1deg) brightness(104%) contrast(104%);
    --search: invert(57%) sepia(86%) saturate(3921%) hue-rotate(13deg) brightness(99%) contrast(100%);
    --info-svg: brightness(0) saturate(100%) invert(77%) sepia(98%) saturate(1742%) hue-rotate(350deg) brightness(96%) contrast(95%);
    --share: brightness(0) saturate(100%) invert(34%) sepia(70%) saturate(5419%) hue-rotate(20deg) brightness(94%) contrast(101%);
    --coffee-hover: brightness(0) saturate(100%) invert(80%) sepia(82%) saturate(863%) hue-rotate(336deg) brightness(105%) contrast(90%);
    text-wrap: pretty;
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
}
@media (prefers-color-scheme: dark) {
  :root, html {
    font-size: 24px;
    --main: rgb(32, 33, 36);
    --text: rgb(164, 174, 188);
    --primary: rgb(90, 194, 175);
    --secondary: rgb(95, 193, 232);
    --accent: rgb(51, 65, 85);
    --link: rgb(242, 207, 43);
    --hover: rgb(222, 122, 0);
    --tags: rgb(242, 207, 43);
    --emphasis: rgb(255, 255, 255);
    --name: rgb(0, 158, 170);
    --date: rgb(250, 250, 250);
    --menu: rgb(222, 122, 0);
    --form: rgb(250, 250, 250);
    --info: rgb(242, 207, 43);
    --blockquote: rgb(25, 22, 22);
    --code-bg: hsl(220, 13%, 18%);
    --code-text: hsl(0, 0%, 100%);
    --coffee: rgb(202, 71, 0);
    --pagefind-ui-text: rgb(164, 174, 188);
    --pagefind-ui-background: rgb(51, 65, 85);
    --svg: invert(93%) sepia(78%) saturate(2834%) hue-rotate(213deg) brightness(148%) contrast(96%);
    --ext: invert(50%) sepia(21%) saturate(5438%) hue-rotate(150deg) brightness(87%) contrast(101%);
    --search: invert(57%) sepia(86%) saturate(3921%) hue-rotate(13deg) brightness(99%) contrast(100%);
    --info-svg: brightness(0) saturate(100%) invert(80%) sepia(82%) saturate(863%) hue-rotate(336deg) brightness(105%) contrast(90%);
    --share: brightness(0) saturate(100%) invert(77%) sepia(98%) saturate(1742%) hue-rotate(350deg) brightness(96%) contrast(95%);
    --coffee-hover: brightness(0) saturate(100%) invert(26%) sepia(80%) saturate(1862%) hue-rotate(7deg) brightness(102%) contrast(101%);
    text-wrap: pretty;
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
}
body {
  font-size: 24px;
	font-family: 'Atkinson', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  line-height: 1.4;
	margin: auto;
	padding: 0 0.25em;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	background: var(--main);
	height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow-y: scroll;
  font-variant-ligatures: no-common-ligatures;
  font-smooth: always;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 4px solid transparent;
  background-clip: content-box;
}
::selection {
  color: #000;
  background: var(--primary); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #000;
  background: var(--primary); /* Gecko Browsers */
}
main {
  margin: 0 auto;
  max-width: 75ch;
}
section {
  margin-top: 2em;
}
hr {
  margin-bottom: 2em;
  border: 0.25px solid var(--primary);
	opacity: 0.5;
}
h1, h2, h4, h6 {
  font-family: 'Atkinson', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	color: var(--primary);
  margin: 0;
  padding: 0;
}
h3, h5 {
  font-family: 'Atkinson', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	color: var(--emphasis);
  margin: 0;
  padding: 0;  
}
#related-articles {
  font-family: 'Atkinson', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: var(--primary);
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
p {
  overflow-wrap: break-word;
  hyphens: auto;
}
main .title {
  margin-top: 0.75em;
}
article p, article ol, article p li, #ref {
  line-height: 1.6;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  border-radius: 0.5em;
}
.sq-img {
  border-radius: 0;
}
.posh-img {
  max-width: 50%;
  max-height: 50%;
}
input, button, textarea, select {
  font: inherit;
}
input {
  font-size: 20px;
  border-style: none;
  margin: 0 auto;
  margin-right: 0.25em;
  padding: 4px 8px;
  border-radius: 0.25em;
  background: var(--accent);
  color: var(--form);
  box-sizing: border-box;
  outline: none;
  width: 90%;
}
input:focus, textarea:focus {
  color: var(--form);
  background: var(--accent);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--name);
}
button {
  font-family: 'M Plus Rounded 1c Med', Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #000;
  border: 0;
  border-radius: 0.25em;
  padding: 4px 8px 3px 8px;
  font-weight: 600;
  font-size: 0.75em;
}
 u, em, i {
	color: var(--emphasis);
}
strong, b {
	color: var(--emphasis);
  font-weight: 700;
}
kbd {
  background-color: #ccc;
  color: #222;
  border-radius: 0.25rem;
  border: 1px solid #000;
  box-shadow: 0 2px 0 1px #aaa;
  cursor: default;
  font-family: sans-serif;
  font-size: 0.75em;
	font-weight: 600;
  line-height: 1.2;
  min-width: 0.75rem;
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
}
a, a:active, a:visited {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	color: var(--hover);
	text-decoration: none;
}
textarea {
	width: 100%;
	font-size: 16px;
}
table {
	width: 100%;
  border-spacing: 0;
  margin: 1em auto;
}
tbody, td {
	border: 1px solid var(--accent);
	padding: 5px;
	vertical-align: top;
}
th {
  background: var(--code-bg);
	border: 1px solid var(--accent);
  color: var(--emphasis);
	padding: 5px;
	vertical-align: top;
}
mark {
  background: #aaa;
}
time {
	color: var(--date);
  font-family: 'M Plus Rounded 1c Reg', Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.75em;
}
img {
	max-width: 80%;
	height: auto;
  margin: 3em auto;
}
code {
	padding: 1px 4.5px;
  font-family: 'M Plus Rounded 1c Med', Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: var(--code-bg);
	color: var(--code-text);
	border-radius: 0.25em;
  font-size: 0.85em;
  white-space: pre;
  text-wrap: pretty;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
figcaption {
  font-size: 0.65em;
  margin: -6.25em 0 6em 0;
}
.desc {
  font-size: 90%;
  color: var(--text);
  margin: 0;
}
blockquote {
  font-family: 'Atkinson', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 0.85em;
	border: 2px solid var(--info);
  background-color: var(--blockquote);
  border-color: var(--info-bg);
  color: var(--info);
  padding: 0;
	margin: 2.5em auto 2em auto;
  border-radius: 0 0.5em 0.5em 0.5em;
  width: 95%;
}
#related-articles + blockquote, #related-articles + blockquote + blockquote {
  border-radius: 0.5em;
}

blockquote p {
  margin: 0;
  padding: 0 1em 1em 1.25em;
}
blockquote p:first-of-type {
  margin: 0;
  padding: 0.7em 1em 1em 1.25em;
}
blockquote ol, blockquote ul {
  padding-bottom: 1em;
}
blockquote li {
  margin: 0;
  padding: 0;
}
blockquote li::marker {
  color: var(--info);
}
blockquote a, blockquote a:active, blockquote a:visited {
  color: var(--hover);
  text-decoration: none;
}
blockquote a:hover, blockquote a:focus {
  color: var(--hover);
  text-decoration: underline;
}
.info {
  width: 32px;
  height: 32px;
  margin: -14px 0 -8px -14px;
  padding: 0;
  filter: var(--info-svg);
}
article a:hover {
  text-decoration-color: var(--link);
}
article h2 {
  margin-top: 1em;
}
li::marker {
	color: var(--primary);
}
.ext {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 18px;
  width: 20px;
  filter: var(--ext);
}
.button {
  background-color: var(--tags);
  color: #000;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-transition: all .10s ease-out;
  -moz-transition: all .10s ease-out;
  -o-transition: all .10s ease-out;
  transition: all .10s ease-out;
  margin: 0;
  font-family: 'M Plus Rounded 1c Med';
}
aside > a, aside > a:active, aside > a:visited, aside > a:hover, aside > a:focus {
  color: #000;
}
.submit {
  margin-top: 0.25em;
  background: var(--name);
}
.coffee a {
  color: #000;
}
.coffee a:hover {
  color:var(--coffee);
}
@media (hover: hover) {
  .button:hover {
    box-shadow: -4px -4px 0 #000;
    transform: translate(4px,4px);
  }
  .button:focus-visible{
    outline-offset: 1px;
  }
}
@media (hover: none) {
  .button:hover {
    background-color: var(--menu);
  }
}
aside {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  margin: 2em auto;
  cursor: default;
}
#related-articles + blockquote, #related-articles + blockquote + blockquote {
  margin: 2em auto;
  border-color: var(--primary);
  padding: 0.5em 0 0 0;
}
#related-articles + blockquote a, #related-articles + blockquote + blockquote a {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--emphasis);
}
#related-articles + blockquote a:hover, #related-articles + blockquote + blockquote a:hover {
  color: var(--hover);
  text-decoration: none;
}
.blog-aside {
  justify-content: space-between;
}
aside > a, aside > a:active, aside > a:visited, aside > a:hover, aside > a:focus {
  display: flex;
  color: #000;
}
.top:hover {
  color: #000;
}
/* article ul, article ol {
  margin: 1.25em auto 1.5em auto;
}
article ul ul {
  margin: 0;
}
article ol:first-of-type {
  margin-bottom: 0;
}
article ol li, article ul li {
  line-height: 1.5;
} */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
@media screen and (min-width: 668px) and (max-width: 980px) {
  .top {
    display: grid;
    justify-content: end;
    margin: 0 1em 0 auto;
  }
}
@media screen and (min-width: 200px) and (max-width: 667px) {
  .top {
    display: grid;
    justify-content: space-around;
    margin: 0 auto;
  }
  input {
    width: 75%;
  }
  .related {
    grid-template-columns: auto;
  }
}