div.date {
	display: flex;
	place-items: center;
	margin: 0;
	padding: 0;
	font-family: var(--sub-font);
	font-weight: 700;
}
span.updated {
	display: inherit;
	place-items: center;
	color: var(--emphasis);
	font-size: 0.875em;
	margin: 0 0.5em 0 0;
	padding: 0;
}
h2#updates + ul strong {
	font-family: var(--sub-font);
	color: var(--secondary);
}
