/*
  Inspired (with some changes) by Kabukicho VSCode theme by Victoria Drake [https://github.com/victoriadrake/kabukicho-vscode]
*/

code[class*="language-"],
pre[class*="language-"] {
  color: #FF39A8;
  font-family: 'JetBrains Mono', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border-radius: 0.5em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #febbee;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #febbee;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin-bottom: 2.5em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #08083a;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}


.token.comment {
  color: #6071CC;
  
}

.token.punctuation {
  color: #58C7E0;
  
}

.token.keyword {
  color: #E0B401;
  
}

.token.attr-name {
  color: #FF39A8;
  
}

.token.selector {
  color: #F986DE;
  
}

.token.variable {
  color: #58C7E0;
  
}

.token.char {
  color: #D4CDDE;
  
}

.token.constant {
  color: #D4CDDE;
  
}

.token.hexcode {
  color: #D4CDDE;
  
}

.token.operator {
  color: undefined;
  
}

.token.builtin {
  color: #58C7E0;
  
}

.token.string {
  color: #58C7E0;
  
}

.token.symbol {
  color: #F92AAD;
  
}

.token.changed {
  color: #ff8000;
  
}

.token.namespace {
  color: #58C7E0;
  
}

.token.function {
  color: #F986DE;
  
}

.token.inserted {
  color: #B141F1;
  
}

.token.regex {
  color: #B141F1;
  
}

.token.number {
  color: #ff8000;
  
}

.token.tag {
  color: #E0B401;
  
}

.token.deleted {
  color: #E0B401;
  
}

.token.property {
  color: #E0B401;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}