/*
  Inspired (with some changes) by Kabukicho VSCode theme by Victoria Drake [https://github.com/victoriadrake/kabukicho-vscode]
*/

code[class*="language-"],
pre[class*="language-"] {
  color: var(--secondary);
  font-family: 'JetBrainsMono', Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 18px;
  border-radius: 0.5em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin-top: 2.5em;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin-bottom: 4em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: var(--text);
  background: var(--accent);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.5em;
  white-space: normal;
}


.token.comment {
  color: #999;
  
}

.token.punctuation {
  color: var(--other);
  
}

.token.keyword {
  color: var(--emphasis);
  
}

.token.attr-name {
  color: var(--primary);
  
}

.token.selector {
  color: var(--primary);
  
}

.token.variable {
  color: var(--other);
  
}

.token.char {
  color: var(--hover);
  
}

.token.constant {
  color: var(--hover);
  
}

.token.hexcode {
  color: var(--hover);
  
}

.token.operator {
  color: var(--other);
  
}

.token.builtin {
  color: var(--other);
  
}

.token.string {
  color: var(--other);
  
}

.token.symbol {
  color: var(--primary);
  
}

.token.changed {
  color: var(--link);
  
}

.token.namespace {
  color: var(--other);
  
}

.token.function {
  color: var(--primary);
  
}

.token.inserted {
  color: var(--hover);
  
}

.token.regex {
  color: var(--hover);
  
}

.token.number {
  color: var(--primary);
  
}

.token.tag {
  color: var(--link);
  
}

.token.deleted {
  color: var(--emphasis);
  
}

.token.property {
  color: var(--emphasis);
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}