---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Categories";
const desc = "Blog posts by category";
---

<style scoped>
  h1 {
    font-family: "M Plus Rounded 1c Reg";
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: auto;
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0 auto;
  }
  li {
    margin: 0.5em 0;
  }
  li a {
    margin: 2px auto;
    padding: 0 auto;
  }
  li a:hover {
    margin: 2px auto;
    padding: 0 auto;
    border-bottom: 2px solid var(--hover);
  }
  p {
    margin-bottom: 2em;
  }
  @media screen and (min-width: 721px) and (max-width: 900px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
      }
  }
  @media screen and (min-width: 200px) and (max-width: 720px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 1.5em;
    }
    li {
      margin: 0 0 1em -1em;
      line-height: 1.1;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      Click on categories below to see blog posts about that subject.
    </p>
    <ul>
      <li>
        <a href="/categories/android/" rel="prefetch-intent" data-umami-event="category-page-android">
          Android
        </a>
      </li>
      <li>
        <a href="/categories/cloudflare/" rel="prefetch-intent" data-umami-event="category-page-cloudflare">
          Cloudflare
        </a>
      </li>
      <li>
      <a href="/categories/command line/" rel="prefetch-intent" data-umami-event="category-page-command-line">
          Command Line
      </a>
      </li>
      <li>
        <a href="/categories/docker/" rel="prefetch-intent" data-umami-event="category-page-docker">
          Docker
        </a>
      </li>
      <li>
        <a href="/categories/git/" rel="prefetch-intent" data-umami-event="category-page-git">
          Git
        </a>
      </li>
      <li>
        <a href="/categories/linux/" rel="prefetch-intent" data-umami-event="category-page-linux">
          Linux
        </a>
      </li>
      <li>
        <a href="/categories/miscellaneous/" rel="prefetch-intent" data-umami-event="category-page-misc">
          Miscellaneous
        </a>
      </li>
      <li>
        <a href="/categories/networking/" rel="prefetch-intent" data-umami-event="category-page-networking">
          Networking
        </a>
      </li>
      <li>
        <a href="/categories/pi-hole/" rel="prefetch-intent" data-umami-event="category-page-pihole">
          Pi-Hole
        </a>
      </li>
      <li>
        <a href="/categories/powershell/" rel="prefetch-intent" data-umami-event="category-page-powershell">
          PowerShell
        </a>
      </li>
      <li>
        <a href="/categories/self-hosting/" rel="prefetch-intent" data-umami-event="category-page-self-hosting">
          Self-Hosting
        </a>
      </li>
      <li>
        <a href="/categories/ssh/" rel="prefetch-intent" data-umami-event=category-ssh">
          SSH
        </a>
      </li>
      <li>
        <a href="/categories/tailscale/" rel="prefetch-intent" data-umami-event=category-tailscale">
          Tailscale
        </a>
      </li>
      <li>
        <a href="/categories/web development/" rel="prefetch-intent" data-umami-event=category-web-dev">
          Web Development
        </a>
      </li>
    </ul>
    <hr />
  </section>
</BaseLayout>