---
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"));

const title = "Categories";
const desc = "Blog posts by category";
---

<style scoped>
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: auto;
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 0 auto;
  }
  li a {
    margin: 2px auto;
    padding: 0 auto;
  }
  li a:hover {
    margin: 2px auto;
    padding: 0 auto;
    border-bottom: 2px solid var(--hover);
  }
  p {
    margin-bottom: 2em;
  }
  @media screen and (min-width: 721px) and (max-width: 900px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
      }
  }
  @media screen and (min-width: 200px) and (max-width: 720px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      margin: 0 0 0 -1em;
    }
  }
</style>

<BaseLayout title={title} description={desc}>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      Click on categories below to see blog posts about that subject.
    </p>
    <ul>
      <li>
        <a href="/categories/android" rel="prefetch-intent">
          Android
        </a>
      </li>
      <li>
        <a href="/categories/command line" rel="prefetch-intent">
          Command Line
        </a>
      </li>
      <li>
        <a href="/categories/docker" rel="prefetch-intent">
          Docker
        </a>
      </li>
      <li>
        <a href="/categories/git" rel="prefetch-intent">
          Git
        </a>
      </li>
      <li>
        <a href="/categories/linux" rel="prefetch-intent">
          Linux
        </a>
      </li>
      <li>
        <a href="/categories/miscellaneous" rel="prefetch-intent">
          Miscellaneous
        </a>
      </li>
      <li>
        <a href="/categories/networking" rel="prefetch-intent">
          Networking
        </a>
      </li>
      <li>
        <a href="/categories/pi-hole" rel="prefetch-intent">
          Pi-Hole
        </a>
      </li>
      <li>
        <a href="/categories/powershell" rel="prefetch-intent">
          PowerShell
        </a>
      </li>
      <li>
        <a href="/categories/self-hosting" rel="prefetch-intent">
          Self-Hosting
        </a>
      </li>
      <li>
        <a href="/categories/git" rel="prefetch-intent">
          SSH
        </a>
      </li>
      <li>
        <a href="/categories/web development" rel="prefetch-intent">
          Web Development
        </a>
      </li>
    </ul>
    <hr />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>