---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Page not found";
const desc = "This page does not seem to exist.";
---

<BaseLayout title={title} description={desc}>
  <head>
    <meta http-equiv="refresh" content="5;url=/" />
  </head>
  <style>
    h1 {
      font-family: "M Plus Rounded 1c Reg";
    }
    p {
      margin: 2em auto 10em auto;
    }
    #go-back {
      cursor: pointer;
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      {desc}&nbsp;<a href="javascript:javascript:history.go(-1)" id="go-back"
        >Go back</a
      > or <a href="/">return to the Home page</a>. You will be redirected to
      the Home page in 5 seconds.
    </p>
  </section>
</BaseLayout>
