---
import BaseLayout from "@layouts/BaseLayout.astro";
import Contact from "@components/Contact.astro";

const title = 'About me'
const desc = 'About me and this site'
---

<BaseLayout title={title} description={desc}>
  <style>
    hr {
      margin-bottom: 2.5em;
    }
    h1 {
      font-size: 36px;
      margin-top: 1.9em;
      margin-bottom: 0;
    }
    p {
      margin: 2em auto;
    }
    @media screen and (min-width: 200px) and (max-width: 650px) {
      main {
        margin: 0 10px;
      }
      h1 {
        font-size: 36px;
        margin-top: 1.575em;
      }
      hr {
        margin-bottom: 1.75em;
      }
      form {
        margin: 1em;
      }
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr>
    <p>
      My name is <em>Ariel Diaz</em>, I'm an aspiring web developer living in Florida. This is my personal blog consisting mostly of instructions, quick guides and other documentation I've written up for myself covering various tech topics including web development and IT. If you are so inclined, you can see what gear I use and info on my home servers and self-hosted setup in the <a href="/uses" rel="prefetch">Uses page</a>.
    </p>
    <br>
    <h1>About the site</h1>
    <hr>
    <p>
      The site is made with <a href="https://astro.build" target="_blank">Astro</a> and its' design and code is open source, so feel free to <a href="https://github.com/fullmetalbrackets/blog" target="_blank">check it out at GitHub</a>. The dark theme is inspired by 80's synthwave aesthetic, while the light theme uses colors that make me think of South Florida. If you'd like, <a href="/markdown-style-guide" rel="prefetch">see the style guide here</a>.
    </p>
    <br>
    <h1>Contact</h1>
    <hr>
    <p>
      If you'd like to get in contact with me, please use the below form. Thanks for visiting!
    </p>
  </section>
  <Contact />
</BaseLayout>