---
import BaseLayout from "@layouts/BaseLayout.astro";
import Contact from "@components/Contact.astro";

const title = 'About me'
const desc = 'About me and this site'
---

<BaseLayout title={title} description={desc}>
  <style>
    hr {
      margin-bottom: 2.5em;
    }
    h1 {
      font-size: 36px;
      margin-top: 1.9em;
      margin-bottom: 0;
    }
    p {
      margin: 2em auto;
    }
    @media screen and (min-width: 200px) and (max-width: 650px) {
      main {
        margin: 0 10px;
      }
      h1 {
        font-size: 36px;
        margin-top: 1.575em;
      }
      hr {
        margin-bottom: 1.75em;
      }
      form {
        margin: 1em;
      }
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr>
    <p>
      My name is <em>Ariel Diaz</em>, I'm a tech enthusiast and aspiring web developer living in Florida. This is my personal blog consisting mostly of instructions, quick guides and other documentation I've written up for myself and made available for others as I've learned about web development, self-hosting, and other things.
    </p>
    <p>
      If you are so inclined, you can see what gear I use and info on my home servers and self-hosted setup in the <a href="/uses" rel="prefetch">Uses page</a>. If you feel like supporting and encouraging me in my endevours, you can <a href="https://buymeacoffee.com/arieldiaz" target="_blank">buy me a coffee</a>.
    </p>
    <h1>About the site</h1>
    <hr>
    <p>
      The site is made with <a href="https://astro.build" target="_blank">Astro</a> and its' design and code is open source, so feel free to <a href="https://github.com/fullmetalbrackets/blog" target="_blank">check it out at GitHub</a>. The dark theme is inspired by 80's synthwave aesthetic, while the light theme uses colors that make me think of South Florida. If you'd like, <a href="/markdown-style-guide" rel="prefetch">see the style guide here</a>.
    </p>
    <p>
      <h3>Some features of the site:</h3>
      <ul>
        <li>
          Fully static and zero JS (before added features below) via <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>
        </li>
        <li>
          Contact and blog post feedback forms via <a href="https://www.netlify.com/products/forms" target="_blank" rel="noopener">Netlify Forms</a>
        </li>
        <li>
          Blog post comments via <a href="https://utteranc.es" target="_blank" rel="noopener">Utterances</a>
        </li>
        <li>
          Fast static search via <a href="https://pagefind.app" target="_blank" rel="noopener">Pagefind</a>
        </li>
      </ul>
    </p>
    <h1>Contact</h1>
    <hr>
    <p>
      If you'd like to get in contact with me, please use the below form. Thanks for visiting!
    </p>
  </section>
  <Contact />
</BaseLayout>