---
import BaseLayout from "@layouts/BaseLayout.astro";
import Contact from "@components/Contact.astro";
const title = "About me";
const desc = "About me and this site";
---

<BaseLayout title={title} description={desc}>
  <style>
    section {
      line-height: 1.4;
    }
    h1 {
      font-size: 36px;
    }
    p {
      margin: 2em auto;
    }
    .foot-line {
      margin: 2em auto;
    }
    @media screen and (min-width: 200px) and (max-width: 667px) {
      main {
        margin: 0 10px;
      }
      h1 {
        font-size: 36px;
        margin-top: 1.575em;
      }
      hr {
        margin-bottom: 1.75em;
      }
      form {
        margin: 1em;
      }
      aside a {
        font-size: 0.85em;
      }
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      My name is <em>Ariel Diaz</em>, I'm a tech enthusiast and hobbyist web
      developer living in Florida. This is my personal tech blog consisting
      mostly of instructions, quick guides and other documentation I've written
      up for myself as I've learned about web development, using Linux,
      self-hosting, networking, etc. I figured I may as well make these
      available for others to use if they need to, in addition to just having
      them online for my own access from anywhere.
    </p>
    <p>
      If you are so inclined, you can see what gear I use and info on my home
      servers and self-hosted setup in the <a href="/uses" rel="prefetch"
        >Uses page</a
      >. If you feel like supporting and encouraging me in my endevours, you can


      <a href="https://buymeacoffee.com/arieldiaz" target="_blank"
        >buy me a coffee</a
      >. The site is made with <a href="https://astro.build" target="_blank"
        >Astro</a
      > and its' design and code is open source, so feel free to <a
        href="https://github.com/fullmetalbrackets/blog"
        target="_blank">check it out at GitHub</a
      >.
      <div id="contact"></div>
      <h1>Contact</h1>
      <hr />
      <p>
        If you'd like to get in contact with me, please use the form below. I won't bother collecting your email address since I don't have a newsletter, however feel free to include a method of contact if you'd like a response. Thanks for visiting! Thanks for visiting!
      </p>
    </p>
    <Contact />
    <hr class="foot-line" />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>
