---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'About me'
const desc = 'About me and this site'
---

<BaseLayout title={title} description={desc}>
  <style>
    hr {
      margin-bottom: 2.5em;
    }
    h1 {
      font-size: 36px;
      margin-top: 1.9em;
      margin-bottom: 0;
    }
    p {
      margin: 2em auto;
    }
    label {
      text-align: left;
      color: var(--primary);
    }
    form {
      margin: 0 2em;
    }
    input {
      line-height: 1;
      border-style: none;
      margin: 0.25em auto 1em auto;
      padding: 0 auto;
      line-height: 1;
      border-radius: 0.25em;
      background: var(--accent);
      color: var(--other);
      height: auto;
      width: 100%;
      box-sizing: border-box;
      outline: none;
    }
    textarea {
      line-height: 1;
      border-style: none;
      margin: 0.25em auto 1em auto;
      padding: 0 auto;
      line-height: 1;
      border-radius: 0.25em;
      background: var(--accent);
      color: var(--other);
      height: auto;
      width: 100%;
      box-sizing: border-box;
      resize: vertical;
      min-height: 8vh;
      outline: none;
      resize: none;
    }
    .reply, .reply-radio {
      margin: 1em 0 0 0;
      padding: 0;
    }
    .reply-radio {
      margin: -10px 2px 0 0;
      width: 20px;
    }
    span {
      margin-right: 20px;
    }
    button {
      font-weight: 700;
      background: var(--primary);
      border-style: none;
      border-radius: 0.25em;
      cursor: pointer;
      margin: 2em auto 4em auto;
      padding: 5px 15px 3px 15px;
    }
    button:hover {
      background: var(--secondary);
      transition-duration: 0.25s;
      transition-property: color, fill, stroke;
      transition-timing-function: linear;
    }
    /* Change autocomplete styles in WebKit */
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: var(--text);
    }
    @media screen and (min-width: 200px) and (max-width: 600px) {
      main {
        margin: 0 10px;
      }
      h1 {
        font-size: 36px;
        margin-top: 1.575em;
      }
      hr {
        margin-bottom: 1.75em;
      }
      form {
        margin: 1em;
      }
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr>
    <p>
      My name is <em>Ariel Diaz</em>, I'm an aspiring web developer living in Florida. This is my personal blog consisting mostly of instructions, quick guides and other documentation I've written up for myself covering various tech topics including web development and IT. If you are so inclined, you can see what gear I use and info on my home servers and self-hosted setup in the <a href="/uses">Uses page</a>.
    </p>
    <br>
    <h1>About the site</h1>
    <hr>
    <p>
      The site is made with <a href="https://astro.build" target="_blank">Astro</a> and its' design and code is open source, so feel free to <a href="https://github.com/fullmetalbrackets/blog" target="_blank">check it out at GitHub</a>. The dark theme is inspired by 80's synthwave aesthetic, while the light theme uses colors that make me think of South Florida. If you'd like, <a href="/markdown-style-guide">see the style guide here</a>.
    </p>
    <br>
    <h1>Contact</h1>
    <hr>
    <p>
      If you'd like to get in contact with me, please use the below form. Thanks for visiting!
    </p>
  </section>
  <section>
    <form name="contact" method="POST" action="/thanks" data-netlify="true" netlify-honeypot="bot-field">
      <input value="contact" name="form-name" type="hidden" />
      <label for="name">Name:</label>
      <br>
      <input id="text" type="text" name="name" required />
      <br><br>
      <label for="email">Email:</label>
      <br>
      <input id="email" type="email" name="email" required />
      <br><br>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required />
      <p class="reply">
      <label for="radio">Request a response to your message?</label><br>
        <input type="radio" id="reply" name="radio" value="No reply" class="reply-radio" /><span>Yes</span>
        <input type="radio" id="no-reply" name="radio" value="No reply" class="reply-radio" required />No
      </p>
      <button class="button" type="submit" value="Submit">Submit</button>
    </form>
  </section>
  <hr>
</BaseLayout>