---
import BaseLayout from "@layouts/BaseLayout.astro";
import Featured from "@components/Featured.astro";
import Categories from "@components/Categories.astro";
import RecentPosts from "@components/RecentPosts.astro";
import RecentLinks from "@components/RecentLinks.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  section {
    margin-bottom: 2em;
  }
  div {
    padding-top: 0.5em;
  }
  .about {
    display: block;
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -6px;
    line-height: 1;
    -webkit-appearance: none;
  }
  
  @media (prefers-color-scheme: light) {
    .about {
      color: var(--primary);
      text-shadow: 2px 3px 2px #ddd;
    }
  }
  @media (prefers-color-scheme: dark) {
    .about {
      color: var(--emphasis);
      text-shadow: 2px 3px 2px var(--accent);
    }
  }
  @media screen and (min-width: 668px) and (max-width: 900px) {
    .about {
      font-size: 2.75em;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    .about {
      font-size: 2em;
    }
  }
  .blurb {
    margin-top: 1.5em;
  }
  p {
    word-spacing: 1px;
  }
  .more {
    margin: 0;
    padding: 0;
  }
  .more-title {
    margin-top: 2em;
  }
  .more-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
  }
  .more-list:first-of-type {
    margin-left: 1.25em;
  }
  ul {
    width: 85%;
  }
  li {
    display: inline-flex;
    flex-direction: column;
    margin: 0 2em 2em -1em;
    line-height: 1.2;
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <link
    rel="preload"
    href="/fonts/Atkinson-Regular.woff"
    as="font"
    crossorigin
  />
  <link rel="preload" href="/fonts/Atkinson-Bold.woff" as="font" crossorigin />
  <link
    rel="preload"
    href="/fonts/MPLUSRounded1c-Medium.ttf"
    as="font"
    crossorigin
  />
  <section>
    <div>
      <span class="about">
        A blog about self-hosting, web development, Linux, and more.
      </span>
    </div>
    <p class="blurb">
      I'm Ariel, known online as fullmetalbrackets, a tech enthusiast and hobbyist coder. Welcome to my blog. I mostly write for myself, each time I figure out how to install or run a new thing, I write down how I did it for future reference.
      I hope my writings will be helpful to you. Thanks for visiting!
    </p>
    <Featured />
    <Categories />
    <RecentPosts />
    <RecentLinks />
  </section>
</BaseLayout>
