---
export const prerender = true;

import BaseLayout from "@layouts/BaseLayout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import HCard from "@components/H-Card.astro";
import PostsColumns from "@components/PostsColumns.astro";
import Popular from "@components/Popular.astro";
import RecentPosts from "@components/RecentPosts.astro";
import RecentNotes from "@components/RecentNotes.astro";
import RecentLinks from "@components/RecentLinks.astro";
import RecentLifestream from "@components/RecentLifestream.astro";
import LastPlayed from "@components/LastPlayed.astro";
import ProfilePageSchema from "@components/ProfilePageSchema.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  .intro {
    margin-bottom: 2em;
  }
  .about {
    text-shadow: 2px 3px 2px var(--accent);
    font-size: 3.25em;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: -6px;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
  }
  .intro-text {
    margin: 1em auto;
    text-wrap: pretty;
  }
  .column-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em auto 1em auto;
  }
  @media screen and (max-width: 992px) {
    .column-item {
      grid-template-columns: auto;
    }
  }
  @media screen and (max-width: 720px) {
    .about {
      font-size: 1.725em;
    }
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <ProfilePageSchema slot="head" />
  <section class="intro">
    <p class="h-card">
      <HCard visible />
    </p>
    <p class="intro-text">
      If you're looking for the main attraction, that would be <a href="/blog" data-umami-event="intro-blog">the blog</a> where I write how-to guides. You can see recent and popular posts below. If you're interested, you can <a href="/colophon" data-umami-event="intro-colophon">see details on how I made this site</a>. There's some other personal stuff around here, probably not as useful as the blog, but <a href="/explore" data-umami-event="intro-explore">feel free to explore</a>.
    </p>
    <p class="intro-text">
      I also have a <a href="https://ariel.lol" target="_blank" rel="noreferrer noopener" data-umami-event="microblog">microblog</a> for random short-form non-tech <span class="i">(shit-)</span>posting.
    </p>
    <SocialLinks />
    <div class="column-item">
      <PostsColumns>
        <RecentPosts />
      </PostsColumns>
      <PostsColumns>
        <Popular />
      </PostsColumns>
      <PostsColumns>
        <RecentLinks />
        <LastPlayed />
      </PostsColumns>
      <PostsColumns>
        <RecentNotes />
      </PostsColumns>
    </div>
    <RecentLifestream />
  </section>
</BaseLayout>