---
import BaseLayout from '@layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@config';
import RecentPosts from '@components/RecentPosts.astro';
import RecentNotes from '@components/RecentNotes.astro';
---

<style scoped>
	p {
		word-spacing: 1px;
	}
	.more {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 20px;
		line-height: 1.5;
		margin-bottom: 0;
	}
	ul {
		width: 85%;
	}
	li {
		display: inline-flex;
		flex-direction: column;
		margin: 0 2em 2em -1em;
		line-height: 1.2;
	}
	@media screen and (min-width: 200px) and (max-width: 667px) {
		main {
			margin: 0 10px;
		}
		span {
			font-size: 100%;
		}
		ul {
			width: 100%;
		}
		li {
			margin: 0 1em 2em -1em;
		}
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<link rel="preload" href="/fonts/Streamster.woff2" as="font" crossorigin/>
	<link rel="preload" href="/fonts/MPLUSRounded1c-Medium.ttf" as="font" crossorigin/>
	<link rel="preload" href="/fonts/Wotfard.woff2" as="font" crossorigin/>
	<section>
		<h1>Hello, World!</h1>
    <hr>
		<p>A website to collect mostly tech-related documentation written by me, <em>Ariel Diaz</em>. Most things I've learned and put to use get written down step-by-step for future reference. Maybe some of it will be helpful to you. If not, that's ok, it's still helpful for me. Either way, thanks for visiting!</p>
		<h4>See more</h4>
		<ul class="more">
			<li class="more">
				<a href="/about">About</a>
				<a href="/links">Links</a>
				<a href="/uses">Uses</a>
				<a href="/about#contact">Contact</a>
			</li>
		</ul>
		<RecentPosts />
		<RecentNotes />
		<hr class="foot-line">
		<aside>
			<a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
		</aside>
		</section>
</BaseLayout>