---
import BaseLayout from "@layouts/BaseLayout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import Featured from "@components/Featured.astro";
import Categories from "@components/Categories.astro";
import RecentPosts from "@components/RecentPosts.astro";
import RecentLinks from "@components/RecentLinks.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  section {
    margin-bottom: 1em;
  }
  div {
    padding-top: 0.5em;
  }
  .about {
    text-shadow: 2px 3px 2px var(--accent);
    font-size: 3.25em;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -6px;
    line-height: 1;
    -webkit-appearance: none;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .name {
    color: var(--primary);
    font-weight: 900;
    word-break: all;
  }
  .blurb {
    margin-top: 1.5em;
    text-align: justify;
  }
  @media (prefers-color-scheme: light) {
    .about {
      color: var(--text);
    }
  }
  @media (prefers-color-scheme: dark) {
    .about {
      color: var(--emphasis);
    }
  }
  @media screen and (min-width: 668px) and (max-width: 1048px) {
    .about {
      font-size: 2.45em;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      font-size: 0.9em;
      margin-bottom: 1em;
      line-height: 1.2;
    }
    .about {
      font-size: 2em;
    }
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <div>
      <h1 class="about">
        A blog about self-hosting, web development, Linux, and more.
      </span>
    </div>
    <p class="blurb">
      I'm Ariel, a tech enthusiast and hobbyist coder. Welcome to my blog. <span class="blurb2">I mostly write for my own reference about self-hosting, Linux, web development, and really just anything tech that I've learned over many years of tinkering. Each time I learn how to install or run a new thing, I type it up and publish it here. I hope my writings will be helpful to you. Thanks for visiting!</span>
    </p>
    <SocialLinks />
    <Featured />
    <Categories />
    <RecentPosts />
    <RecentLinks />
  </section>
</BaseLayout>
