---
import BaseLayout from "@layouts/BaseLayout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import PostsColumns from "@components/PostsColumns.astro";
import Popular from "@components/Popular.astro";
import Categories from "@components/Categories.astro";
import RecentPosts from "@components/RecentPosts.astro";
import RecentNotes from "@components/RecentNotes.astro";
import RecentLinks from "@components/RecentLinks.astro";
import Explore from "@components/Explore.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  section {
    margin-bottom: 1em;
  }
  div {
    padding-top: 0.5em;
  }
  .column-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em auto 0 auto;
  }
  .explore {
    margin: -3em auto 4em auto;
    padding: 0;
  }
  .about {
    text-shadow: 2px 3px 2px var(--accent);
    font-size: 3.25em;
    font-weight: 800;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -6px;
    line-height: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    color: var(--primary);
    font-weight: 900;
    word-break: all;
  }
  .blurb {
    margin-top: 1.5em;
    text-align: justify;
  }
  @media screen and (max-width: 992px) {
    .column-item {
      grid-template-columns: auto;
    }
  }
  @media screen and (max-width: 667px) {
      section {
      font-size: 0.925em;
      margin-bottom: 1em;
      line-height: 1.2;
    }
    .about {
      font-size: 2em;
    }
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <div>
      <h1 class="about">
        A blog about self-hosting, web development, Linux, and more.
      </span>
    </div>
    <p class="blurb">
      I'm Ariel, a tech enthusiast and hobbyist coder. Welcome to my site. The main attraction is the blog, where I write about self-hosting and related topics that I've learned over many years of tinkering. There's some other stuff around here that might not be as interesting, but feel free to check them out below. Thanks for visiting!
    </p>
    <SocialLinks />
    <div class="column-item">
      <PostsColumns>
        <Popular />
      </PostsColumns>
      <PostsColumns>
        <RecentPosts />
      </PostsColumns>
      <PostsColumns>
        <Categories />
      </PostsColumns>
      <PostsColumns>
        <RecentLinks />
      </PostsColumns>
      <PostsColumns>
        <Explore />
      </PostsColumns>
      <PostsColumns>
        <RecentNotes />
      </PostsColumns>
    </div>
    <br>
  </section>
</BaseLayout>
