---
import BaseLayout from "@layouts/BaseLayout.astro";
import Featured from "@components/Featured.astro";
import Categories from "@components/Categories.astro";
import RecentPosts from "@components/RecentPosts.astro";
import RecentLinks from "@components/RecentLinks.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  section {
    margin-bottom: 1em;
  }
  div {
    padding-top: 0.5em;
  }
  .about {
    font-size: 3.25em;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: -6px;
    line-height: 1;
    -webkit-appearance: none;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .name {
    color: var(--primary);
    font-weight: 900;
    word-break: all;
  }
  .blurb {
    margin-top: 1.5em;
    text-align: justify;
  }
  .personal-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 1vw;
  }
  .personal-links a {
    filter: var(--svg);
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .personal-links a:hover {
    filter: var(--share);
  }
  @media (prefers-color-scheme: light) {
    .about {
      color: var(--primary);
      text-shadow: 2px 3px 2px #ddd;
    }
  }
  @media (prefers-color-scheme: dark) {
    .about {
      color: var(--emphasis);
      text-shadow: 2px 3px 2px var(--accent);
    }
  }
  @media screen and (min-width: 668px) and (max-width: 1048px) {
    .about {
      font-size: 2.45em;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    section {
      font-size: 0.9em;
      margin-bottom: 1em;
    }
    .about {
      font-size: 1.85em;
    }
    .personal-links {
      margin-top: 2em;
      width: 80%;
    }
    .personal-links a {
      margin-right: 5px;
    }
    .personal-links a:last-of-type {
      margin-right: 0;
    }
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <div>
      <span class="about">
        A blog about self-hosting, web development, Linux, and more.
      </span>
    </div>
    <p class="blurb">
      I'm Ariel, a tech enthusiast and hobbyist coder. Welcome to my blog. <span class="blurb2">I mostly write for my own reference about self-hosting, Linux, web development, and really just anything tech that I've learned over many years of tinkering. Each time I learn how to install or run a new thing, I type it up and publish it here. I hope my writings will be helpful to you. Thanks for visiting!</span>
    </p>
    <p class="personal-links">
      <a href="/mail" target="_blank"
      ><img
        height="40px"
        width="40px"
        class="email"
        src="/assets/email.svg"
        alt="Email"
        title="Email"
        loading="lazy"
        decoding="async"
        data-umami-event="front-page-mail"
      /></a
    >
    <a href="https://social.lol/@adiaz" target="_blank"
      ><img
        height="35px"
        width="35px"
        class="mastodon"
        src="/assets/mastodon.svg"
        alt="Mastodon"
        title="Mastodon"
        loading="lazy"
        decoding="async"
        data-umami-event="front-page-social"
      /></a
    >
    <a href="https://bsky.app/profile/fullmetalbrackets.com" target="_blank"
      ><img
        height="35px"
        width="35px"
        class="bsky"
        src="/assets/bsky.svg"
        alt="Bluesky"
        title="Bluesky"
        loading="lazy"
        decoding="async"
        data-umami-event="front-page-bsky"
      /></a
    >
    <a href="https://github.com/fullmetalbrackets" target="_blank"
      ><img
        height="35px"
        width="35px"
        class="github"
        src="/assets/gh.svg"
        alt="GitHub"
        title="GitHub"
        loading="lazy"
        decoding="async"
        data-umami-event="front-page-github"
      /></a
    >
    <a href="https://buymeacoffee.com/arieldiaz" target="_blank"
      ><img
        height="30px"
        width="30px"
        class="buymeacoffee"
        src="/assets/bmc-logo.svg"
        alt="Buy Me A Coffee"
        title="Buy Me A Coffee"
        loading="lazy"
        decoding="async"
        data-umami-event="front-page-coffee"
      /></a
    >
    </p>
    <Featured />
    <Categories />
    <RecentPosts />
    <RecentLinks />
  </section>
</BaseLayout>
