---
import BaseLayout from "@layouts/BaseLayout.astro";
import Categories from "@components/Categories.astro";
import RecentPosts from "@components/RecentPosts.astro";
import PopularPosts from "@components/PopularPosts.astro";
import RecentLinks from "@components/RecentLinks.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<style scoped>
  p {
    word-spacing: 1px;
  }
  .more {
    margin: 0;
    padding: 0;
  }
  .more-title {
    margin-top: 2em;
  }
  .more-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    margin: 0;
  }
  .more-list:first-of-type {
    margin-left: 1.25em;
  }
  ul {
    width: 85%;
  }
  li {
    display: inline-flex;
    flex-direction: column;
    margin: 0 2em 2em -1em;
    line-height: 1.2;
  }
  /* @media screen and (min-width: 200px) and (max-width: 667px) {
		main {
			margin: 0 10px;
		}
		span {
			font-size: 100%;
		}
		.more {
			gap: 1em;
		}
		ul {
			width: 100%;
		}
		li {
			margin: 0 1em 2em -1em;
		}
		aside a {
			font-size: 0.85em;
		} */
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <link
    rel="preload"
    href="/fonts/Atkinson-Regular.woff"
    as="font"
    crossorigin
  />
  <link rel="preload" href="/fonts/Atkinson-Bold.woff" as="font" crossorigin />
  <link
    rel="preload"
    href="/fonts/MPLUSRounded1c-Medium.ttf"
    as="font"
    crossorigin
  />
  <section>
    <h1>Hello, World!</h1>
    <hr />
    <p>
      Hi, I'm Ariel, a tech enthusiast living in Florida. Welcome to my blog, where I write about self-hosting, Linux, web development, and any other tech things I'm interested in.
    </p>
    <p>
      I mostly write for myself, each time I figure out how to install or run a new thing, I write down how I did it for future reference. I figured I may as well make
      these writings available for others who may also need help with self-hosting and Linux in general. In addition to
      having them online for my own access from anywhere, I hope some of it will
      be helpful to someone out there.
    </p>
    <Categories />
    <RecentPosts />
    <PopularPosts />
    <RecentLinks />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>
