---
import BackToTop from "@components/BackToTop.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Privacy Policy";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
  }
  section {
    margin: 2em auto;
  }
  h2 {
    margin-top: 1em;
  }
  .date {
    color: var(--date);
    font-family: var(--sub-font);
    font-weight: 500;
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    a button,
    aside a {
      font-size: 0.85em;
    }
  }
</style>

<BaseLayout title={title} description="Privacy Policy for fullmetalbrackets.com">
  <section>
    <h1 class="title">{title}</h1>
    <hr class="top-line" />
    <span>Last updated on</span>
    <span class="date">
      December 17, 2025
    </span>
    <p>
      This privacy policy will advise of what information, if any, is collected when you use this website and for what purpose. The policy may change in the future, at which time this page will be updated. Check back from time to time and note that date the Privacy Policy was last updated.
    </p>
    <h2>
      Data collection
    </h2>
    <p>
      <b>No data is collected by this website.</b>
    </p>
    <p>
      There are no tracking cookies, no login, no newsletter to sign up for, no  way for a user to submit information, or for any user-submitted information to even be stored. Any external links to other websites, or embedded content like YouTube videos or SoundCloud music, are subject to the privacy policies of those external websites or services. 
    </p>
    <p>
      I will never sell, distribute or lease your personal information to anyone even if I were to collect any data via this website in the future.
    </p>
    <h2>
      Analytics
    </h2>
    <p>
      This website uses <a href="https://umami.is" target="_blank" rel="noreferrer noopener">Umami</a>, a Google Analytics alternative which is <a href="https://umami.is/blog/gdpr-compliant-website-analytics" rel="noreferrer noopener">GDPR-compliant</a> and collects only anonymized data. You can see the stats yourself <a href="https://us.umami.is/share/5MdOgBcRzVP6FU0x/fullmetalbrackets.com" target="_blank" data-umami-event="privacy-umami-stats">right here</a>. (Please note that this website uses <a href="https://docs.umami.is/docs/cloud">Umami Cloud</a> and not the self-hosted version.)
    </p>
    <p>
      Through Umami this website tracks certain when certain internal and external links are clicked to gauge user traffic flow, but this data is anonymized and cannot be used to identify you.
    </p>
    <h2>
      Comments
    </h2>
    <p>
      For blog posts, <a href="https://github.com/laymonage/giscus" target="_blank" rel="noreferrer noopener">Giscus</a> is used for commenting which <a href="https://github.com/laymonage/giscus/blob/main/PRIVACY-POLICY.md" target="_blank" rel="noreferrer noopener">collects no data</a>. Please be aware <b>a GitHub account is required to leave comments</b>, and by commenting you will actually be participating in <a href="https://github.com/fullmetalbrackets/blog/discussions" target="_blank" rel="noopener noreferrer">GitHub Discussions on this website's public GitHub repository</a>.
    </p>
    <h2>
      Webmentions
    </h2>
    <p>
      This website supports <a href="https://webmention.io" target="_blank" rel="noreferrer noopener">Webmentions</a> for blog posts.
    </p>
    <p>
      By supporting Webmentions on your website, you explicitly signal your wish for linked websites to process and publish your public replies to their content. You can at any time request the rboval of one or all Webmentions originating from your website.
    </p>
    <p>
      An incoming Webmention request is by design a request for publishing a comment from elsewhere on the web; this is what the protocol was designed for and why it is active on your website. Commonly, received Webmentions are displayed as comments on a web page. This means that a copy of your content is displayed on the website you link to in your own post.
    </p>
    <p>
      The personal data being processed and published might include:
      <ul>
        <li>Your name</li>
        <li>The profile picture from your website</li>
        <li>The URL of your website</li>
        <li>Personal information you include in your post</li>
      </ul>
    </p>
    <p>
      <b>Legal Basis:</b> The publishing of incoming Webmentions is based on the legitimate interest to enable interaction with the readers of this website <i>(Art. 6(1) lit. f GDPR)</i>, following the design intention of the Webmention protocol.
    </p>
    <h2>Links to external websites</h2>
    <p>
      This website maintains <a href="/links">a list of links to external websites ot applications</a> which I consider useful or cool in some way, and blog posts will often contain external links to additional resources, official documentation, informative third-party sources, attributions, etc.
    </p>
    <p>
      I always try to link to reputable sources, but it is up to you to review those websites' own privacy policies. I cannot accept any responsibility for your privacy once you have left this website.
    </p>
    <h2>Contributing</h2>
    <p>
      Every blog post has an <em>Edit this page on GitHub</em> link at the bottom. If you notice an error or outdated information, or even a typo or other minor thing that's bugging you, feel free to click the link, fork the post, make your changes, and submit a pull request. A GitHub account is required.
    </p>
    <p>
      Alternately you can simply send me an email with any corrections or fixes you'd like to suggest. (See below.)
    </p>
    <h2>Questions and concerns</h2>
    <p>
      If you have any concerns about this privacy policy, or any questions about the website or for me specifically, feel free to <a href="mailto:contact@fullmetalbrackets.com">contact me via email</a>.
    </p>
    <br />
    <hr class="foot-line" />
    <BackToTop />
  </section>
</BaseLayout>