---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Privacy Policy";
---

<style scoped>
  h1 {
    font-family: "M Plus Rounded 1c Reg";
  }
  section {
    margin: 2em auto;
  }
  h2 {
    margin-top: 1em
  }
  .date {
    color: var(--date);
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    a button,
    aside a {
      font-size: 0.85em;
    }
  }
</style>

<BaseLayout title={title} description="Privacy Policy for fullmetalbrackets.com">
  <section>
    <h1 class="title">{title}</h1>
    <hr class="top-line" />
    <span>Last updated on</span>
    <span class="date">
      November 22, 2025
    </span>
    <p>
      This privacy policy will advise of what information is collected when you use this website and for what purpose, as well as other legal considerations like attribution and contribution. The policy may change in the future, at which time this page will be updated. Check back from time to time and note that date the Privacy Policy was last updated.
    </p>
    <h2>
      What is collected
    </h2>
    <p>
      I will never sell, distribute or lease your personal information to anyone as no personal information is collected by this website. There is no ability to login, no newsletter to sign up for, or any other way for a user to submit information through the website. There are no tracking cookies on this website.
    </p>
    <p>
      The only information collected is the following:
    </p>
    <ul>
      <p>
        <li>
          <a href="https://search.google.com/search-console" target="_blank" data-umami-event="privacy-google-search">Google Search Console</a> is used for monitoring and analyzing this website's presence in Google search results. This data is anonymized and cannot be used to identify you.
        </li>
      </p>
      <p>
        <li>
          <a href="https://search.google.com/search-console" target="_blank" data-umami-event="privacy-bing-tools">Bing Webmaster Tools</a> is used for monitoring and analyzing this website's presence in Bing search results. (And other search engines that partner with or use Bing, including DuckDuckGo, Yahoo!, et al.) This data is anonymized and cannot be used to identify you.
        </li>
      </p>
      <p>
        <li>
          <a href="https://umami.is" target="_blank" data-umami-event="privacy-umami">Umami</a> is used for website traffic analytics, including details like page views, visit duration and referrers, as well as user-specific information like browser, OS, desktop or mobile, and country of origin. I also track certain internal and external links as events. This data is anonymized and cannot be used to identify you. You can see the stats yourself <a href="https://us.umami.is/share/5MdOgBcRzVP6FU0x/fullmetalbrackets.com" target="_blank" data-umami-event="privacy-umami-stats">right here</a>.
        </li>
      </p>
      <p>
        <li>
          <a href="https://www.cloudflare.com/web-analytics" target="_blank" data-umami-event="privacy-cloudflare">Cloudflare Web Analytics</a> is used to review traffic to this site, including details like unique visits and country of origin. This data is anonymized and cannot be used to identify you.
        </li>
      </p>
      <p>
        <li>
          <a href="https://www.cloudflare.com/application-services/products/waf" target="_blank" data-umami-event="privacy-cloudflare-waf">Cloudflare Web Application Firewall</a> is used to block certain bots, AI scrapers and crawlers, and other unwanted traffic. In the unlikely event that you are blocked by WAF, your IP address will be displayed.
        </li>
      </p>
    </ul>
    <h2>Licenses</h2>
    <p>
      This website and it's code are open source under <a href="https://mit-license.org" target="_blank" data-umami-event="privacy-mit-license">MIT license</a>, and it's entire codebase can be seen on GitHub. Except where otherwise noted, site content including blog posts, wiki articles, and written content on other pages are under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank" data-umami-event="privacy-cc-by-sa-4.0">CC BY-NC-SA 4.0 license</a>.
    </p>
    <h2>Attribution</h2>
    <p>
      I would appreciate an attribution and a least a link to my blog if you reference all or part of a post, but it's not a requirement. (Nor do I have any interest in attempting to enforce it.)
    </p>
    <p>
      Images within blog posts and wiki articles may be reused without attribution as long as they are re-hosted and not hotlinked; if you must hotlink and use my bandwidth, then please at least provide attribution and a link to my site.
    </p>
    <p>
      Be aware that if I notice significantly high bandwidth use from remote linking of images or other content, I may end up blocking the site making those requests to save on bandwidth.
    </p>
    <h2>Links to external websites</h2>
    <p>
      This website contains links to other, external websites. I always try to link to reputable sources, but it is up to you to review those websites' own privacy statements. I cannot accept any responsibility for your privacy once you have left this website.
    </p>
    <h2>Contributing</h2>
    <p>
      Every blog post has a <em>Edit this page on GitHub</em> link at the bottom. If you notice an error or outdated information, or even a typo or other minor thing that's bugging you, feel free to click the link, fork the post, make your changes, and submit a pull request.
    </p>
    <h2>Questions and concerns</h2>
    <p>
      If you have any questions about this privacy policy, feel free to <a href="mailto:contact@fullmetalbrackets.com" data-umami-event="privacy-contact">contact me via email</a>.
    </p>
    <br /><br />
    <hr class="foot-line" />
  </section>
</BaseLayout>