---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Search'
---
<style>
  .title {
    font-size: 36px;
  }
  hr {
    margin-bottom: 2.5em;
  }
  button {
    background-color: var(--primary);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .10s ease-out;
    margin: 0 8px 8px 0;
  }
  button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
  }
  button:focus-visible{
    outline-offset: 1px;
  }
</style>

<BaseLayout title={title} description="Search for blog posts.">
  <h1 class="title">{title}</h1>
  <hr>
  <p>
    Use the search field below to search for blog posts.
  </p>
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript" crossorigin="anonymous">
  </script>
  <div id="search" class="search-results"></div>
  <script integrity="sha384-VYyPo/n2BlIZUlXm+Z9+dkt2lbh9dkyg3PKNBY7953xBMoq4PWs5+fwrWU5L24Fj" crossorigin="anonymous" is:inline>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: '#search', showImages: false });
    });
  </script>
</BaseLayout>