---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Search'
---
<style>
  .title {
    font-size: 36px;
  }
  hr {
    margin-bottom: 2.5em;
  }
  input {
    border-style: none;
    border-radius: 0.25em;
    background: var(--accent);
    color: var(--form);
    box-sizing: border-box;
    outline: none;
  }
  input:focus, textarea:focus {
    color: var(--form);
    background: var(--accent);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--name);
  }
</style>

<BaseLayout title={title} description="Search for blog posts.">
  <h1 class="title">{title}</h1>
  <hr>
  <p>
    Use the search field below to search for blog posts.
  </p>
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript" crossorigin="anonymous">
  </script>
  <div id="search" class="search-results"></div>
  <script integrity="sha384-VYyPo/n2BlIZUlXm+Z9+dkt2lbh9dkyg3PKNBY7953xBMoq4PWs5+fwrWU5L24Fj" crossorigin="anonymous" is:inline>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: '#search', showImages: false });
    });
  </script>
</BaseLayout>