---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Search'
---
<style>
  .title {
    font-size: 36px;
  }
  hr {
    margin-bottom: 2.5em;
  }
</style>

<BaseLayout title={title} description="Search for blog posts.">
  <h1 class="title">{title}</h1>
  <hr>
  <p>
    Use the search field below to search for blog posts.
  </p>
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript" crossorigin="anonymous">
  </script>
  <div id="search" class="search-results"></div>
  <script integrity="sha384-VYyPo/n2BlIZUlXm+Z9+dkt2lbh9dkyg3PKNBY7953xBMoq4PWs5+fwrWU5L24Fj" crossorigin="anonymous" is:inline>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: '#search', showImages: false });
    });
  </script>
</BaseLayout>