---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Search'
---

<BaseLayout title={title} description="Search for blog posts.">
  <h1>{title}</h1>
  <p>
    Use the search field below to search for blog posts.
  </p>
  <script src="/_pagefind/pagefind-ui.js" type="text/javascript" crossorigin="anonymous">
  
  </script>
  <div id="search" class="search-results"></div>
  <script is:inline>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: '#search', showImages: false });
    });
  </script>
</BaseLayout>