---
import BackToTop from "@components/BackToTop.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Search";
---

<style scoped>
  h1 {
    font-family: var(--sub-font);
    font-weight: 900;
  }
  section {
    margin: 2em auto;
  }
  .foot-line {
    margin-top: 4em;
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    a button,
    aside a {
      font-size: 0.85em;
    }
  }
</style>

<BaseLayout title={title} description="Search for blog posts.">
  <section>
    <h1 class="title">{title}</h1>
    <hr class="top-line" />
    <p>
      Use this page to search for blog posts. Or, see posts <a href="/categories/" rel="prefetch-intent">by category</a> or <a href="/blog/years/" rel="prefetch-intent">by year</a>.
    </p>
    <script
      is:inline src="/pagefind/pagefind-ui.js"
      type="text/javascript"
      crossorigin="anonymous"></script>
    <div id="search" class="search-results"></div>
    <script crossorigin="anonymous" is:inline>
      window.addEventListener('DOMContentLoaded', () => {
        const search_ui = new PagefindUI(
          {
            element: "#search",
            pageSize: 10,
            excerptLength: 50,
            showImages: false,
            showSubResults: false,
            autofocus: true,
            translations: {
              placeholder: "Type your search…",
              search_label: "Search for blog posts",
              zero_results: "No result found for “[SEARCH_TERM]”.",
              many_results: "[COUNT] results found for “[SEARCH_TERM]”:",
              one_result: "[COUNT] result found for “[SEARCH_TERM]”:",
            },
            processTerm: function (term) {
              history.replaceState({}, "", `?q=${encodeURIComponent(term)}`);
              return term;
            },
          });

          const params = new URLSearchParams(window.location.search);
          if (params.has('q')) {
            search_ui.triggerSearch(params.get('q'));
          }
      });
    </script>

    <br /><br />
    <hr />
    <BackToTop />
  </section>
</BaseLayout>
