---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Uses";
const desc = "The stuff I use.";
---

<BaseLayout title={title} description={desc}>
  <style>
    section {
      line-height: 1.4;
      margin-bottom: 4em;
    }
    h1 {
      font-size: 36px;
    }
    h2 {
      margin: 2em auto 0 auto;
    }
    p:first-of-type {
      margin: 2em auto;
    }
    hr {
      margin: 1em 0;
    }
    hr:last-of-type {
      margin-top: 4em;
    }
    ul {
      list-style-type: none;
    }
    ul li > ul {
      list-style-type: circle;
    }
    .comment {
      text-indent: 2em;
    }
    @media screen and (min-width: 200px) and (max-width: 667px) {
      main {
        margin: 0 10px;
      }
      h1 {
        font-size: 36px;
        margin-top: 1.575em;
      }
      hr {
        margin-bottom: 1.75em;
      }
      form {
        margin: 1em;
      }
      a button,
      aside a {
        font-size: 0.85em;
      }
    }
  </style>
  <section>
    <h1>{title}</h1>
    <hr />
    <p>
      A <em>Uses page</em> is a neat concept by <a
        href="https://wesbos.com"
        target="_blank">Wes Bos</a
      > to have a page on your personal site "detailing developer setups, gear,
      software and configs." So that's what this is. The things I own and stuff
      I use to make this website and write a bunch of junk. Check out <a
        href="https://uses.tech"
        target="_blank">Uses.Tech</a
      > for other Uses pages.
    </p>
    <h2 id="desk-setup">Desk Setup</h2>

    <ul>
      <li>
        <em>Desk:</em> &nbsp;<a
          href="https://www.amazon.com/gp/product/B08Q89X9R2"
          target="_blank">Bestier L Shaped Desk, Rustic Brown</a
        > &nbsp;<img
          class="ext"
          src="/img/assets/external.svg"
          alt="External Link"
          height="18px"
          width="20px"
        />
      </li>
    </ul>

    <ul>
      <li>
        <em>Chair:</em> &nbsp;<a
          href="https://www.amazon.com/gp/product/B09YV46WG7"
          target="_blank">COLAMY 2199 Office Chair, Classic Brown</a
        > &nbsp;<img
          class="ext"
          src="/img/assets/external.svg"
          alt="External Link"
          height="18px"
          width="20px"
        />
      </li>
    </ul>

    <ul>
      <li>
        <em>Speakers:</em> &nbsp;<a
          href="https://www.amazon.com/gp/product/B00EZ9XKCM"
          target="_blank">Logitech Z200 Multimedia Stereo Speakers</a
        > &nbsp;<img
          class="ext"
          src="/img/assets/external.svg"
          alt="External Link"
          height="18px"
          width="20px"
        />
      </li>
    </ul>

    <ul>
      <li>
        <em>Keyboard and Mouse:</em> &nbsp;<a
          href="https://www.amazon.com/gp/product/B00BP5KOPA"
          target="_blank">Logitech MK270 Wireless Keyboard &amp; Mouse Combo</a
        > &nbsp;<img
          class="ext"
          src="/img/assets/external.svg"
          alt="External Link"
          height="18px"
          width="20px"
        />
      </li>
    </ul>
    <ul>
      <li>
        <em>Monitors:</em>
        <ul>
          <li>
            <a href="https://www.amazon.com/gp/product/B08DQWG3JG"
              >Dell S2721QS 4K UHD Monitor</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            />
          </li>
          <li>
            <a
              href="https://www.amazon.com/gp/product/B07L9G1BFX"
              target="_blank"
              >Samsung UR59-series 32&quot; 4K UHD Curved Monitor</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            />
          </li>
        </ul>
      </li>
    </ul>

    <h2>PCs</h2>
      <p>
        <em>Dell XPS 8920</em>
      </p>
      <ul>
        <li>
          <em>OS:</em> Windows 10 Pro
        </li>
        <li>
          <em>CPU:</em> Intel i7-7700 Quad Core @ 3.6GHz
        </li>
        <li>
          <em>GPU:</em> AMD Radeon RX4800
        </li>
        <li>
          <em>Memory:</em> 24 GB DDR4 RAM
        </li>
        <li>
          <em>Storage:</em>
          <ul>
            <li>250 GB M.2 NVMe SSD</li>
            <li>2 TB HDD</li>
            <li>1 TB HDD</li>
            <li>1 TB SSD</li>
          </ul>
        </li>
      </ul>
      <p>
        <em>Dell Optiplex 3050 SFF</em>
      </p>
      <ul>
        <li>
          <em>OS:</em> Debian 12
        </li>
        <li>
          <em>CPU:</em> Intel Pentium G3250T @ 2.8GHz
        </li>
        <li>
          <em>Memory:</em> 4 GB RAM
        </li>
        <li>
          <em>Storage:</em>
          <ul>
            <li>120 GB Internal HDD (boot drive)</li>
            <li>1 TB External HDD (extra storage)</li>
          </ul>
        </li>
      </ul>
      
    <h2>Home Server</h2>
    <ul>
      <li>
        <em>Model:</em> Dell Optiplex 3050 SFF
      </li>
      <li>
        <em>OS:</em> OpenMediaVault 6
      </li>
      <li>
        <em>CPU:</em> Intel i5-6500 Quad Core @ 3.20 GHz
      </li>
      <li>
        <em>Memory:</em> 16 GB (2 x 8 GB DDR4 RAM)
      </li>
      <li>
        <em>Storage:</em>
        <ul>
          <li>250 GB M.2 NVMe Internal SSD</li>
          <li>2 TB Internal 3.5" HDD</li>
          <li>1 TB Internal 2.5" HDD</li>
          <li>1 TB External 2.5" HDD</li>
        </ul>
      </li>
      <li>
        <em id="docker-containers">Docker Containers</em>
        <ul>
          <li>
            <a
              href="https://hub.docker.com/r/portainer/agent"
              target="_blank"
              rel="noreferrer noopener">Portainer</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - GUI to manage docker containers
          </li>
          <li>
            <a href="" target="https://hub.docker.com/r/pihole/pihole"
              >Pi-Hole</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Network-wide DNS and ad-blocker
          </li>
          <li>
            <a
              href="https://hub.docker.com/r/linuxserver/plex"
              target="_blank"
              rel="noreferrer noopener">Plex</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Movie and TV show streaming server
          </li>
          <li>
            <a
              href="https://hub.docker.com/r/linuxserver/tautulli"
              target="_blank"
              rel="noreferrer noopener">Tautulli</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Plex statistics and activity monitoring
          </li>
          <li>
            <a
              href="https://hub.docker.com/r/deluan/navidrome"
              target="_blank"
              rel="noreferrer noopener">Navidrome</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Music streaming server
          </li>
          <li>
            <a
              href="https://hub.docker.com/r/linuxserver/kavita"
              target="_blank"
              rel="noreferrer noopener">Kavita</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Ebook and comic server
          </li>
          <li>
            <a
              href="https://hub.docker.com/r/linuxserver/qbittorrent"
              target="_blank"
              rel="noreferrer noopener">qBittorrent</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> - Torrent downloader/manager
          </li>
        </ul>
      </li>
    </ul>

    <h2>Developer Tools</h2>
    <ul>
      <li>
        <em id="code-editor">Code Editor</em>
        <ul>
          <li>VS Code</li>
          <li>Nano (as needed on Linux)</li>
        </ul>
      </li>
      <li>
        <em id="terminal">Terminal</em>
        <ul>
          <li>
            Windows Terminal with <a href="https://ohmyposh.dev" target="_blank"
              >Oh-My-Posh</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> using <a
              href="https://github.com/Kudostoy0u/pwsh10k"
              target="_blank">pwsh10k theme</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            />
          </li>
          <li>
            On Linux, zsh shell with <a
              href="https://github.com/ohmyzsh/ohmyzsh"
              target="_blank">Oh-My-Zsh</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            /> using <a
              href="https://github.com/romkatv/powerlevel10k"
              target="_blank">powerlevel10k theme</a
            >&nbsp;<img
              class="ext"
              src="/img/assets/external.svg"
              alt="External Link"
              height="18px"
              width="20px"
            />
          </li>
        </ul>
      </li>
    </ul>
    <hr />
    <aside>
      <a href="#top" class="top button blog-tag">Back to Top &uarr;</a>
    </aside>
  </section>
</BaseLayout>
