---
---

<style scoped>
    aside {
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin: 1em 0 1.5em 0;
    }
    button {
        background: var(--primary);
        font-size: 1em;
        margin: 0 auto;
    }
    @media screen and (max-width: 1190px) {
        button {
            margin-right: 0.25em;
        }
    }
</style>

<aside>
    <a href="/"><button>⟰ Home</button></a>
    <a href="#top"><button>Back to Top &uarr;</button></a>
</aside>