---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"));
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: "M Plus Rounded 1c Reg";
  }
  ul {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin: 0 auto;
    padding: 1.5em 1.5em 0.5em 1.5em;
  }
  li {
    margin: 0 auto 1em auto;
  }
  li a:hover {
    border-bottom: 2px solid var(--hover);
  }
  p {
    margin: -0.75em auto 1.75em auto;
  }
  .desc {
  }
  .title {
    margin: 0 auto;
  }
  @media screen and (min-width: 721px) and (max-width: 900px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
      }
  }
  @media screen and (min-width: 200px) and (max-width: 720px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
      padding: 0.75em 0.5em 0 0.5em;
      text-align: center;
    }
    li {
      margin-bottom: 0.5em;
      line-height: 1.2;
    }
  }
</style>

<section>
  <h2>Categories</h2>
  <ul>
    <li>
      <a href="/categories/android/" rel="prefetch-intent" data-umami-event="home-categories-android">
        Android
      </a>
    </li>
    <li>
      <a href="/categories/cloudflare/" rel="prefetch-intent" data-umami-event="home-categories-cloudflare">
        Cloudflare
      </a>
    </li>
    <li>
    <a href="/categories/command line/" rel="prefetch-intent" data-umami-event="home-categories-command-line">
        Command Line
    </a>
    </li>
    <li>
      <a href="/categories/docker/" rel="prefetch-intent" data-umami-event="home-categories-docker">
        Docker
      </a>
    </li>
    <li>
      <a href="/categories/git/" rel="prefetch-intent" data-umami-event="home-categories-git">
        Git
      </a>
    </li>
    <li>
      <a href="/categories/linux/" rel="prefetch-intent" data-umami-event="home-categories-linux">
        Linux
      </a>
    </li>
    </li>
    <li>
      <a href="/categories/miscellaneous/" rel="prefetch-intent" data-umami-event="home-categories-misc">
        Miscellaneous
      </a>
    </li>
    <li>
      <a href="/categories/networking/" rel="prefetch-intent" data-umami-event="home-categories-networking">
        Networking
      </a>
    </li>
    <li>
      <a href="/categories/pi-hole/" rel="prefetch-intent" data-umami-event="home-categories-pihole">
        Pi-Hole
      </a>
    </li>
    <li>
      <a href="/categories/powershell/" rel="prefetch-intent" data-umami-event="home-categories-powershell">
        PowerShell
      </a>
    </li>
    <li>
      <a href="/categories/self-hosting/" rel="prefetch-intent" data-umami-event="home-categories-self-hosting}">
        Self-Hosting
      </a>
    </li>
    <li>
      <a href="/categories/ssh/" rel="prefetch-intent" data-umami-event="home-categories-ssh">
        SSH
      </a>
    </li>
    <li>
      <a href="/categories/tailscale/" rel="prefetch-intent" data-umami-event="home-categories-tailscale">
        Tailscale
      </a>
    </li>
    <li>
      <a href="/categories/web development/" rel="prefetch-intent" data-umami-event="home-categories-web-dev">
        Web Development
      </a>
    </li>
  </ul>
</section>
