---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"));
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
  }
  ul {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    list-style-type: none;
    margin: 0 auto 2em auto;
    padding: 1em 1em 1em 3.5em;
  }
  li a {
    margin: 2px auto;
    padding: 0 auto;
  }
  li a:hover {
    margin: 2px auto;
    padding: 0 auto;
    border-bottom: 2px solid var(--hover);
  }
  p {
    margin: -0.75em auto 1.75em auto;
  }
  .desc {
  }
  .title {
    margin: 0 auto;
  }
  @media screen and (min-width: 721px) and (max-width: 900px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
      }
  }
  @media screen and (min-width: 200px) and (max-width: 720px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
      padding: 1em 1em 1em 1.5em;
    }
    li {
      margin-bottom: 0.5em;
    }
  }
</style>

<section>
  <h2>Categories</h2>
  <ul>
    <li>
      <a href="/categories/android" rel="prefetch-intent">
        Android
      </a>
    </li>
    <li>
      <a href="/categories/cloudflare" rel="prefetch-intent">
        Cloudflare
      </a>
    </li>
    <li>
    <a href="/categories/command line" rel="prefetch-intent">
        Command Line
    </a>
    </li>
    <li>
      <a href="/categories/docker" rel="prefetch-intent">
        Docker
      </a>
    </li>
    <li>
      <a href="/categories/git" rel="prefetch-intent">
        Git
      </a>
    </li>
    <li>
      <a href="/categories/linux" rel="prefetch-intent">
        Linux
      </a>
    </li>
    </li>
    <li>
      <a href="/categories/miscellaneous" rel="prefetch-intent">
        Miscellaneous
      </a>
    </li>
    <li>
      <a href="/categories/networking" rel="prefetch-intent">
        Networking
      </a>
    </li>
    <li>
      <a href="/categories/pi-hole" rel="prefetch-intent">
        Pi-Hole
      </a>
    </li>
    <li>
      <a href="/categories/powershell" rel="prefetch-intent">
        PowerShell
      </a>
    </li>
    <li>
      <a href="/categories/self-hosting" rel="prefetch-intent">
        Self-Hosting
      </a>
    </li>
    <li>
      <a href="/categories/git" rel="prefetch-intent">
        SSH
      </a>
    </li>
    <li>
      <a href="/categories/tailscale" rel="prefetch-intent">
        Tailscale
      </a>
    </li>
    <li>
      <a href="/categories/web development" rel="prefetch-intent">
        Web Development
      </a>
    </li>
  </ul>
</section>
