---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const tagCounts = {};
allPosts.forEach(post => {
  post.data.tags?.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});
const tags = Object.entries(tagCounts)
  .map(([tag, count]) => ({ tag, count }))
  .sort((a, b) => a.tag.localeCompare(b.tag));
---

<style scoped>
  h2 {
    font-family: "M Plus Rounded 1c Reg";
  }
  ul {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0.5em auto 2em auto;
    padding: 1.25em 1.5em;
  }
  li {
    margin: 0.25em;
  }
  button {
    background: var(--info);
    color: #000;
  }
  button a {
    color: #000;
  }
  p {
    margin-bottom: 2em;
  }
  @media screen and (max-width: 755px) {
    ul {
      padding: 1em 0.25em;
    }
  }
</style>

<section>
  <h2>Categories</h2>
    <ul>
      {tags.map(({ tag, count }) => (
        <li>
          <button>
            <a href={`/categories/${tag}`}>
              {tag} <span class="count"> ({count})</span>
            </a>
          </button>
        </li>
      ))}
    </ul>
</section>
