---

---
<style>
  label {
    text-align: left;
    color: var(--primary);
  }
  form {
    margin: 2em;
  }
  input {
    line-height: 1;
    border-style: none;
    margin: 0.25em auto 1em auto;
    padding: 4px 6px;
    line-height: 1;
    border-radius: 0.25em;
    background: var(--accent);
    color: var(--form);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    outline: none;
  }
  textarea {
    line-height: 1;
    border-style: none;
    margin: 0.25em auto 1em auto;
    padding: 4px 6px;
    line-height: 1;
    border-radius: 0.25em;
    background: var(--accent);
    color: var(--form);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 8vh;
    outline: none;
    resize: none;
  }
  input:focus, textarea:focus {
    color: var(--form);
    background: var(--accent);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--name);
  }
  .reply {
    margin: 1em 0 0 0;
    padding: 0;
  }
  .reply-radio {
    margin: 0.5em 0.5em -3px 0;
    width: 1em;
    height: 1em;
    appearance: none;
    -webkit-appearance: none;
    border: 1.5px solid var(--accent);
    background-color: var(--accent);
    border-radius: 50%;
  }
  .reply-radio:focus, .radio-reply:focus-visible {
    box-shadow: none;
    outline-offset: 0;
  }
  .reply-radio:checked {
    box-shadow: 0 0 0 1px var(--name);
    background-color: var(--name);
    border-width: 0.1em;
  }
  span {
    margin-right: 1em;
  }
  button {
    margin: 2em auto;
  }
  :-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--form);
  }
  @media screen and (min-width: 200px) and (max-width: 650px) {
      form {
        margin: 1em;
      }
    }
</style>
<section>
  <form name="contact" method="POST" action="/thanks" data-netlify="true" netlify-honeypot="bot-field">
    <input value="contact" name="form-name" type="hidden" />
    <label for="name">Name:</label>
    <br>
    <input id="text" type="text" name="name" required />
    <br><br>
    <label for="email">Email:</label>
    <br>
    <input id="email" type="email" name="email" required />
    <br><br>
    <label for="message">Message:</label>
    <textarea id="message" name="message" required />
    <p class="reply">
    <label for="radio">Request a response to your message?</label><br>
      <input type="radio" id="reply" name="radio" value="No reply" class="reply-radio" /><span>Yes</span>
      <input type="radio" id="no-reply" name="radio" value="No reply" class="reply-radio" required />No
    </p>
    <p><button class="blog-tag button" type="submit" value="Submit">Submit</button></p>
  </form>
</section>