---
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0;
  }
  ul {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  li {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 1;
    border-bottom: 2px solid transparent;
  }
  li:hover {
    border-bottom: 2px solid var(--hover);
    transition: all .25s ease-out;
  }
  @media screen and (max-width: 667px) {
    li {
        margin-bottom: 0.25em;
    }
    li:hover, a {
      transition: none !important;
    }
  }
</style>

<section>
    <h2>Explore Site</h2>
    <nav>
        <ul class="grid-col no-list b">
            <li>
                <a href="/blog/">Blog</a>
            </li>
            <li>
                <a href="/blogroll/">Blogroll</a>
            </li>
            <li>
                <a href="/categories/">Categories</a>
            </li>
            <li>
                <a href="/changelog/">Changelog</a>
            </li>
            <li>
                <a href="/colophon/">Colophon</a>
            </li>
            <li>
                <a href="/lifestream/">Lifestream</a>
            </li>
            <li>
                <a href="/links/">Links</a>
            </li>
            <li>
                <a href="/shelf/movies/">Movies</a>
            </li>
            <li>
                <a href="/privacy/">Privacy</a>
            </li>
            <li>
                <a href="/search/">Search</a>
            </li>
            <li>
                <a href="/self-hosted/">Self-hosted</a>
            </li>
            <li>
                <a href="/style/">Style</a>
            </li>
            <li>
                <a href="/uses/">Uses</a>
            </li>
            <li>
                <a href="/wiki/">Wiki</a>
            </li>
            <li>
                <a href="/verify/">Verify</a>
            </li>
        </ul>
    </nav>
</section>
