---
---

<style scoped>
  section {
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  p {
    margin: 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
    min-height: 19.25em;
  }
  li {
    margin: 0.25em auto;
    line-height: 1;
    border-bottom: 4px dotted transparent;
  }
  li:hover {
    border-bottom: 4px dotted var(--hover);
    transition: all .25s ease-out;
  }
  @media screen and (max-width: 667px) {
    ul {
        grid-template-columns: auto auto;
        min-height: auto;
    }
    li {
        margin: 0 auto 0.25em auto;
    }
    li:hover, a {
      transition: none !important;
    }
  }
</style>

<section>
    <h2>Explore Site</h2>
    <nav>
        <ul class="no-list b">
            <li>
                <a href="/blog/" data-umami-event="explore-blog">Blog</a>
            </li>
            <li>
                <a href="/blogroll/" data-umami-event="explore-blogroll">Blogroll</a>
            </li>
            <li>
                <a href="/categories/" data-umami-event="explore-categories">Categories</a>
            </li>
            <li>
                <a href="/changelog/" data-umami-event="explore-changelog">Changelog</a>
            </li>
            <li>
                <a href="/colophon/" data-umami-event="explore-colophon">Colophon</a>
            </li>
            <li>
                <a href="/digest/" data-umami-event="explore-digest">Digest</a>
            </li>
            <li>
                <a href="/games/" data-umami-event="explore-games">Games</a>
            </li>
            <li>
                <a href="/lifestream/" data-umami-event="explore-lifestream">Lifestream</a>
            </li>
            <li>
                <a href="/links/" data-umami-event="explore-links">Links</a>
            </li>
            <li>
                <a href="/notes/" data-umami-event="explore-notes">Notes</a>
            </li>
            <li>
                <a href="/privacy/" data-umami-event="explore-privacy">Privacy</a>
            </li>
            <li>
                <a href="/search/" data-umami-event="explore-search">Search</a>
            </li>
            <li>
                <a href="/self-hosted/" data-umami-event="explore-selfhosted">Self-hosted</a>
            </li>
            <li>
                <a href="/style/" data-umami-event="explore-style">Style</a>
            </li>
            <li>
                <a href="/uses/" data-umami-event="explore-uses">Uses</a>
            </li>
            <li>
                <a href="/wiki/" data-umami-event="explore-wiki">Wiki</a>
            </li>
            <li>
                <a href="/verify/" data-umami-event="explore-verify">Verify</a>
            </li>
        </ul>
    </nav>
</section>
