---
const today = new Date();
---

<footer>
	<p>&copy; 2020 - {today.getFullYear()} Ariel Diaz</p>
	<p>All rights reserved</p>
</footer>
<style>
	footer {
		font-size: 12px;
		margin: 0;
		padding: 25px;
		text-align: center;
	}
	p {
		margin: 0;
	}
</style>
