---
import NavLink from './NavLink.astro';
const today = new Date();
---

<footer>
	<span>
		&copy; 2020 - {today.getFullYear()} Ariel Diaz.<br> 
		All rights reserved.
	</span>
	<div class="nav">
		<NavLink href="/rss.xml"><img height="auto" width="15px" class="rss" src="/img/assets/rss.svg" alt="RSS Feed" title="RSS Feed"></NavLink>
		<NavLink href="mailto:contact@fullmetalbrackets.com" target="_blank"><img height="auto" width="20px" class="email" src="/img/assets/email.svg" alt="Email" title="Email"></NavLink>
		<NavLink href="https://github.com/fullmetalbrackets" target="_blank"><img height="auto" width="20px" class="github" src="/img/assets/gh.svg" alt="GitHub" title="GitHub"></NavLink>
		<NavLink href="https://buymeacoffee.com/arieldiaz" target="_blank"><img height="auto" width="15px" class="buymeacoffee" src="/img/assets/bmc-logo.svg" alt="Buy Me A Coffee" title="Buy Me A Coffee"></NavLink>
	</div>
</footer>
<style>
	footer {
		font-size: 12px;
		margin: 2em 0;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.nav {
		display: inline-flex;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	span {
		display: flex;
		justify-content: left;
		margin: 0;
		padding: 0;
	}
	img {
		filter: var(--svg);
		height: auto;
		width: 20px;
		margin: 4px 2px;
		padding: 0;
	}
	.rss {
		width: 15px;
	}
	.buymeacoffee {
		width: 15px;
	}
	a:hover::after {
		transform: scale(0);
	}
	@media screen and (min-width: 200px) and (max-width: 600px) {
		.nav {
			display: flex;
			justify-content: space-between;
			padding: 0;
		}
		.nav a, a:active, a:visited, a:hover {
			margin: 0;
			padding: 0 10px;
		}
	}
</style>
