---
import NavLink from './NavLink.astro';
const today = new Date();
---

<footer>
	<p>
		&copy; 2020 - {today.getFullYear()} Ariel Diaz. 
		All rights reserved.
	</p>
	<nav>
		<NavLink href="/rss.xml">RSS</NavLink>
		<NavLink href="/markdown-style-guide">Style</NavLink>
		<NavLink href="mailto:contact@fullmetalbrackets.com" target="_blank">Contact</NavLink>
	</nav>
</footer>
<style>
	footer {
		font-size: 12px;
		margin: 0;
		padding: 25px;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	p {
		margin: 0;
	}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		nav {
			display: grid;
		}
		p {
			width: 100px;
		}
	}
</style>
