---
import NavLink from './NavLink.astro';
const today = new Date();
---

<footer>
	<span>
		&copy; 2020 - {today.getFullYear()} Ariel Diaz.<br> 
		All rights reserved.
	</span>
	<div class="nav">
		<NavLink href="/rss.xml">RSS</NavLink>
		<NavLink href="/markdown-style-guide">Style</NavLink>
		<NavLink href="mailto:contact@fullmetalbrackets.com" target="_blank">Contact</NavLink>
		<NavLink href="https://github.com/fullmetalbrackets" target="_blank">GitHub</NavLink>
	</div>
</footer>
<style>
	footer {
		font-size: 12px;
		margin: 2em 0;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.nav {
		margin: 0 0 2em 0;
	}
	span {
		display: flex;
		justify-content: left;
		margin: 0;
		padding: 0;
	}
	a:hover {
			color: var(--hover);
		}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		.nav {
			display: flex;
			justify-content: space-between;
			padding: 0;
		}
		.nav a, a:active, a:visited, a:hover {
			margin: 0;
			padding: 0 10px;
		}
	}
</style>
