---
const today = new Date();
---
<hr>
<footer>
	<span>
		&copy; 2020 - {today.getFullYear()} Ariel Diaz.<br> 
		All rights reserved.
	</span>
	<div class="nav">
		<a href="/rss.xml"><img height="15px" width="15px" class="rss" src="/img/assets/rss.svg" alt="RSS Feed" title="RSS Feed"></a>
		<a href="mailto:contact@fullmetalbrackets.com" target="_blank"><img height="20px" width="20px" class="email" src="/img/assets/email.svg" alt="Email" title="Email"></a>
		<a href="https://github.com/fullmetalbrackets" target="_blank"><img height="20px" width="20px" class="github" src="/img/assets/gh.svg" alt="GitHub" title="GitHub"></a>
		<a href="https://buymeacoffee.com/arieldiaz" target="_blank"><img height="21px" width="15px" class="buymeacoffee" src="/img/assets/bmc-logo.svg" alt="Buy Me A Coffee" title="Buy Me A Coffee"></a>
	</div>
</footer>
<style>
	footer {
		margin: 0;
		padding: 0;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.nav {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;
		padding: 0;
	}
	.nav a {
		margin: 0 5px;
		padding: 5px;
	}
	.nav a:hover {
		filter: var(--ext);
	}
	hr {
		margin: 1em 0.5em;
	}
	span {
		display: flex;
		font-size: 10px;
		margin: 0 0 0 1em;
		padding: 0;
	}
	img {
		filter: var(--svg);
		height: 20px;
		width: 20px;
		margin: 1px 2px;
		padding: 0;
		border-radius: 0;
	}
	.rss {
		width: 15px;
		height: 15px;
	}
	.mail {
		width: 20px;
		height: 20px;
	}
	.gh {
		width: 20px;
		height: 20px;
	}
	.buymeacoffee {
		width: 15px;
		height: 22px;
	}
	@media screen and (min-width: 200px) and (max-width: 650px) {
		.nav a {
			margin: 0 5px;
			padding: 5px 5px;
		}	
	}
</style>
