---
const today = new Date();
---

<style scoped>
  footer {
    font-family:
      "M Plus Rounded 1c Reg",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    /* display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    justify-content: space-between;
    gap: 0;
    max-width: 78ch;
  }
  .top-row {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    justify-content: space-between;
    gap: 0;
    margin: 0 auto;
    padding: 0 auto;
  }
  .bottom-row {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    justify-content: space-between;
    gap: 0;
    margin: -0.25em auto 1em auto;
    padding: 0 auto;
  }
  .legal {
    font-size: 14px;
    font-weight: 700;
    margin-left: 1em;
  }
  .license {
    font-size: 14px;
    font-weight: 700;
  }
  .privacy {
    font-size: 14px;
    font-weight: 700;
  }
  /* @media (prefers-color-scheme: light) {
    .legal, .license, .privacy {
     color: var(--primary);
    }
  }
  @media (prefers-color-scheme: dark) {
    .legal, .license, .privacy {
     color: var(--emphasis);
    }
  } */
  /* a, a:active, a:visited {
    color: var(--date);
  }
  a:hover, a:focus {
    color: var(--primary);
  }
  @media (prefers-color-scheme: light) {
    a, a:active, a:visited {
      color: var(--primary);
    }
    a:hover, a:focus {
      color: var(--hover);
    }
  }
  @media (prefers-color-scheme: dark) {
    a, a:active, a:visited {
      color: var(--date);
    }
    a:hover, a:focus {
      color: var(--primary);
    }
  } */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 0.25em 0;
    padding: 0;
  }
  .nav a {
    margin: 0 5px;
    padding: 5px;
  }
  .nav a:hover {
    filter: var(--ext);
  }
  img {
    filter: var(--svg);
    height: 20px;
    width: 20px;
    margin: 1px 2px;
    padding: 0;
    border-radius: 0;
  }
  .rss {
    width: 15px;
    height: 15px;
  }
  .mail {
    width: 20px;
    height: 20px;
  }
  .mastodon {
    width: 20px;
    height: 20px;
  }
  .bsky {
    filter: var(--svg);
    width: 20px;
    height: 20px;
  }
  .gh {
    width: 20px;
    height: 20px;
  }
  .buymeacoffee {
    width: 15px;
    height: 22px;
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    .legal, .license, .privacy {
      font-size: 10px;
    }
    .right {
      display: inline-block;
    }
    .bottom-row {
      margin-top: -5px;
    }
    .nav a {
      margin: 0 5px;
      padding: 5px 1px;
    }
  }
</style>

<footer>
  <div class="top-row">
    <div class="legal">
      &copy; 2021 - {today.getFullYear()} Ariel Diaz. <span class="right">All rights reserved.</span>
    </div>
    </div>
    <div class="nav">
      <a href="/umami" target="_blank"
        ><img
          height="21px"
          width="15px"
          class="umami"
          src="/assets/umami.svg"
          alt="Umami Stats"
          title="Umami Stats"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-umami"
        /></a
      >
      <a href="/feed"
        ><img
          height="15px"
          width="15px"
          class="rss"
          src="/assets/rss.svg"
          alt="RSS Feed"
          title="RSS Feed"
          loading="lazy"
          decoding="async"
        /></a
      >
      <a href="/mail" target="_blank"
        ><img
          height="20px"
          width="20px"
          class="email"
          src="/assets/email.svg"
          alt="Email"
          title="Email"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-mail"
        /></a
      >
      <a href="/social" target="_blank"
        ><img
          height="20px"
          width="20px"
          class="mastodon"
          src="/assets/mastodon.svg"
          alt="Mastodon"
          title="Mastodon"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-social"
        /></a
      >
      <a href="/bsky" target="_blank"
        ><img
          height="20px"
          width="20px"
          class="bsky"
          src="/assets/bsky.svg"
          alt="Bluesky"
          title="Bluesky"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-bsky"
        /></a
      >
      <a href="/github" target="_blank"
        ><img
          height="20px"
          width="20px"
          class="github"
          src="/assets/gh.svg"
          alt="GitHub"
          title="GitHub"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-github"
        /></a
      >
      <a href="/donate" target="_blank"
        ><img
          height="21px"
          width="15px"
          class="buymeacoffee"
          src="/assets/bmc-logo.svg"
          alt="Buy Me A Coffee"
          title="Buy Me A Coffee"
          loading="lazy"
          decoding="async"
          data-umami-event="footer-coffee"
        /></a
      >
    </div>
  </div>
  <div class="bottom-row">
    <div class="license">
      <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a>
    </div>
    <div class="legal">
      <a href="/privacy" data-umami-event="privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>