---
const today = new Date();
import Umami from '@icons/umami.svg';
import Feed from '@icons/rss.svg';
import Email from '@icons/email.svg';
import Mastodon from '@icons/mastodon.svg';
import Bluesky from '@icons/bsky.svg';
import GitHub from '@icons/gh.svg';
import BuyMeCoffee from '@icons/bmc.svg';
import Top from '@icons/arrow-up.svg';
import Proven from '@icons/proven.svg';
---

<style>
  footer {
    background: var(--tertiary);
    margin: 0 auto;
    padding: 1em 0;
    display: grid;
    place-items: center;
    justify-content: space-around;
    gap: 0;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 auto;
    gap: 1em;
  }
  .icons a:hover {
    filter: var(--ext);
    transition: none;
  }
  .icons svg {
    filter: var(--svg);
    border-radius: 0;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    place-items: center;
    gap: 0.5em;
    font-family: var(--sub-font);
    font-weight: 500;
    font-size: 0.75em;
    margin: 0 auto;
  }
  nav button {
    width: 95px;
    background: var(--foot-link);
  }
  nav button:hover {
    background: var(--foot-hover);
  }
  nav a {
    color: #000;
  }
  nav button:hover a {
    color: var(--foot-active);
  }
  nav a:active {
    color: var(--foot-active);
  }
  .nav-row-1 {
    gap: 20em;
    margin-top: -1.675em;
  }
  .nav-row-2 {
    margin-top: 0.5em;
  }
  .legal {
    display: flex;
    justify-content: space-between;
    font-family: var(--sub-font);
    font-weight: 500;
    font-size: 0.6em;
    margin: 1em auto 0 auto;
    padding: 0 1em;
    gap: auto;
    width: 100%;
  }
  .copyright {
    justify-content: center;
    font-family: var(--sub-font);
    font-weight: 500;
    font-size: 0.6em;
    margin: -1.55em auto 0 auto;
    padding: 0;
  }
  .badges {
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin: 0.75em auto 0 auto;
    padding: 0 0.5em 0 0;
    gap: 0;
    width: 100%;
  }
  .badges * {
    margin: 0 auto;
    padding: 0;
  }
  .proof svg {
    filter: currentColor;
  }
  .top {
    filter: var(--foot-svg);
  }
  .top:hover {
    filter: var(--foot-ext);
    transition: all .2s ease-out;
  }
  .proof:hover {
    animation: wiggle 0.5s ease-in-out infinite;
  }
  .proof:not(:hover) {
    animation: none;
  }
  @media screen and (max-width: 667px) {
    .badges {
      gap: 0;
      padding: 0;
    }
    .copyright {
      margin: 1em auto 0 auto;
    }
    .nav-row-1 {
      gap: 1.35em;
      margin-top: 0.5em;
    }
  }
</style>

<footer>
  <div class="icons">
    <a href="https://u.adiaz.fyi/share/TtTytHU8rJy0oEzN" target="_blank" data-umami-event="footer-umami">
      <Umami height={25} width={25} />
    </a>
    <a href="/rss.xml" target="_blank" data-umami-event="footer-rss">
      <Feed height={20} width={20} />
    </a>
    <a href="mailto:contact@fullmetalbrackets.com" target="_blank" data-umami-event="footer-mail">
      <Email height={28} width={28} class="email" />
    </a>
    <a href="https://social.lol/@adiaz" target="_blank" data-umami-event="footer-social">
      <Mastodon height={25} width={25} />
    </a>
    <a href="https://bsky.app/profile/fullmetalbrackets.com" rel="me atproto" target="_blank" data-umami-event="footer-bsky">
      <Bluesky height={25} width={25} />
    </a>
    <a href="https://github.com/fullmetalbrackets" target="_blank" data-umami-event="footer-github">
      <GitHub height={25} width={25} />
    </a>
    <a href="https://buymeacoffee.com/arieldiaz" target="_blank" data-umami-event="footer-coffee">
      <BuyMeCoffee height={25} width={25} />
    </a>
  </div>
  <nav class="nav-row-1">
    <button>
      <a href="/blog/" data-umami-event="footer-blog">Blog</a>
    </button>
    <button>
      <a href="/categories/" data-umami-event="footer-categories">Categories</a>
    </button>
  </nav>
  <nav class="nav-row-2">
    <button>
      <a href="/blogroll/" data-umami-event="footer-blogroll">Blogroll</a>
    </button>
    <button>
      <a href="/blank/" data-umami-event="footer-blank">Blank</a>
    </button>
    <button>
      <a href="/changelog/" data-umami-event="footer-changelog">Changelog</a>
    </button>
    <button>
      <a href="/colophon/" data-umami-event="footer-colophon">Colophon</a>
    </button>
    <button>
      <a href="/digest/" data-umami-event="footer-digest">Digest</a>
    </button>
    <button>
      <a href="/games/" data-umami-event="footer-games">Games</a>
    </button>
    <button>
      <a href="/explore/" data-umami-event="footer-explore">Explore</a>
    </button>
    <button>
      <a href="/lifestream/" data-umami-event="footer-lifestream">Lifestream</a>
    </button>
    <button>
      <a href="/links/" data-umami-event="footer-links">Links</a>
    </button>
    <button>
      <a href="/self-hosted/" data-umami-event="footer-selfhosted">Self-hosted</a>
    </button>
    <button>
      <a href="/uses/" data-umami-event="footer-uses">Uses</a>
    </button>
    <button>
      <a href="/verify/" data-umami-event="footer-verify">Verify</a>
    </button>
  </nav>
  <div class="legal">
    <span>
      Content: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" data-umami-event="footer-cc-by-nc-sa-4.0">CC BY-NC-SA 4.0</a>
    </span>
    <span>
      Code: <a href="https://mit-license.org" target="_blank" data-umami-event="footer-mit-license">MIT</a>
    </span>
  </div>
  <span class="copyright">
    &copy; 2021-{today.getFullYear()} Ariel Diaz. Some rights reserved.
  </span>
  <div class="badges">
    <a href="https://proven.lol/1a7300" target="_blank" data-umami-event="proof">
      <Proven height={32} width={32} class="proof" />
    </a>
    <a href="https://notbyai.fyi/" target="_blank" data-umami-event="notbyai">
      <picture>
        <source srcset="/assets/Written-By-a-Human-Not-By-AI-Badge-white.png" media="(prefers-color-scheme: light)">
        <source srcset="/assets/Written-By-a-Human-Not-By-AI-Badge-black.png" media="(prefers-color-scheme: dark)">
        <img src="/assets/Written-By-a-Human-Not-By-AI-Badge-white.png" alt="Written by a human, not AI" class="sq-img notbyai" loading="lazy" decoding="async">
      </picture>
    </a>
    <a href="https://astro.build/" target="_blank" data-umami-event="astro">
      <img src="/assets/built-with-astro.svg" alt="Built with Astro" width="192" height="32" class="sq-img astro" loading="lazy" decoding="async">
    </a>
    <a href="#top"><Top height={32} width={32} class="top" /></a>
  </div>
</footer>