---
import Date from "@icons/calendar.svg";

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<style scoped>
  time {
    color: var(--date);
    font-family: var(--sub-font);
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 500;
    place-items: center;
    margin: 0;
    padding: 0;
  }
  svg {
    display: inline-flex;
    margin-left: -0.1em;
    margin-right: 0.25em;
    filter: var(--time-svg);
  }
  @media screen and (max-width: 667px) {
    time {
      font-size: 18px;
    }
  }
</style>


<time datetime={date?.toISOString()}>
  <Date width={24} height={24} />
  <span>
    {
      date?.toLocaleDateString("en-us", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </span>
</time>
