---
import Date from "@icons/calendar.svg";

interface Props {
  date: Date;
  monthFormat?: 'long' | 'short' | 'numeric' | '2-digit';
  noDay?: boolean;
  showTime?: boolean;
  class?: string;
}

const { date, monthFormat = 'long', noDay = false, showTime = false, class: className } = Astro.props;

const dateOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: monthFormat,
  ...(noDay ? {} : { day: "numeric" }),
  ...(showTime ? { hour: "numeric", minute: "2-digit" } : {}),
};
---

<time datetime={date?.toISOString()} class={className}>
  <Date width={24} height={24} />
  <span>{date?.toLocaleDateString("en-us", dateOptions)}</span>
</time>

<style scoped>
  time {
    color: var(--date);
    font-family: var(--sub-font);
    display: inline-flex;
    font-size: 0.875em;
    font-weight: 700;
    place-items: center;
    margin: 0;
    padding: 0;
  }
  svg {
    display: inline-flex;
    margin-left: -0.1em;
    margin-right: 0.325em;
    filter: var(--time-svg);
  }
  @media screen and (max-width: 667px) {
    time {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 436px) {
    .meta svg {
      margin-top: -1.3em;
    }
  }
</style>