---
---
<p class="p-author h-card" hidden>
  <img class="u-photo" src="/avatar.png" alt="Avatar of fullmetalbrackets" />
  <img class="u-logo" src="/favicon.svg" alt="Logo of fullmetalbrackets.com" />
  <a class="p-name u-url u-uid" href="https://fullmetalbrackets.com">Ariel Diaz</a>
  <a class="u-email" href="mailto:hello@fullmetalbrackets.com">hello@fullmetalbrackets.com</a>
  <span class="p-country-name">United States of America</span>
</p>

<style scoped>
    p {
        margin: 0;
        padding: 0;
    }
</style>