---
import NavLink from './NavLink.astro';
import { SITE_TITLE } from '../config';
---

<head>
	<link
		rel="preload"
		href="/fonts/Streamster.woff"
		as="font"
		type="font/woff"
		crossorigin="anonymous"
	/>
	<link
		rel="preload"
		href="/fonts/Streamster.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
</head>
<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<NavLink href="/">Blog</NavLink>
		<NavLink href="/blog/tags">Categories</NavLink>
		<NavLink href="/about">About</NavLink>
		<NavLink href="https://github.com/fullmetalbrackets" target="_blank">GitHub</NavLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		font-family: 'Streamster';
		font-size: 4em;
		margin: 0;
	}
	a, a:active, a:visited {
		padding: 4px 8px;
	}
	a:hover {
		padding: 4px 8px;
		border-radius: 0.25em;
		background: var(--accent);
	}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		nav {
			display: inline-flex;
		}
		a, a:active, a:visited {
		padding: 0;
		}
		a:hover {
			padding: 0;
			background: var(--main);
		}
	}
</style>
