---
import NavLink from './NavLink.astro';
import Theme from './Theme.astro';
import { SITE_TITLE } from '../config';
---

<head>
</head>
<header>
	<div>
		<h1>
		{SITE_TITLE}
		</h1>
	</div>
		<nav>
		<NavLink href="/">Blog</NavLink>
		<NavLink href="/blog/tags" rel="prefetch">Categories</NavLink>
		<NavLink href="/about">About</NavLink>
		<Theme />
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	header div {
		display: grid;
		margin: 0;
		padding: 0;
	}
	nav {
		display: inline-block;
		margin: 0;
	}
	.theme {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-family: 'Streamster';
		font-size: 4em;
		margin: 0 0 0 20px;
	}
	@media screen and (min-width: 200px) and (max-width: 600px) {
		h1 {
			font-size: 3em;
		}
	}
</style>
