---
import NavLink from './NavLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<NavLink href="/">Blog</NavLink>
		<NavLink href="/about">About</NavLink>
		<NavLink href="https://github.com/fullmetalbrackets" target="_blank">GitHub</NavLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		font-family: 'Streamster';
		font-size: 4em;
		margin: 0;
}
</style>
