---
import NavLink from './NavLink.astro';
import Theme from './Theme.astro';
import { SITE_TITLE } from '../config';
---

<head>
</head>
<header>
	<div>
		<span class="logo">
		{SITE_TITLE}
		</span>
	</div>
		<nav>
		<NavLink href="/">Blog</NavLink>
		<NavLink href="/tags" rel="prefetch">Tags</NavLink>
		<NavLink href="/about" rel="prefetch">About</NavLink>
		<Theme />
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	header div {
		display: grid;
		margin: 0;
		padding: 0;
	}
	nav {
		display: inline-flex;
		margin: 0;
		align-items: center;
	}
	.theme {
		margin: 0;
		padding: 0;
	}
	.logo {
		font-family: 'Streamster';
		font-size: 4em;
		font-weight: 700;
		margin: 0 0 0 20px;
		color: var(--name);
	}
	@media screen and (min-width: 200px) and (max-width: 650px) {
		.logo {
			font-size: 3.5em;
		}
	}
</style>
