---
import NavLink from './NavLink.astro';
import { SITE_TITLE } from '../config';
---

<head>
	<link
		rel="preload"
		href="/fonts/Streamster.woff"
		as="font"
		type="font/woff"
		crossorigin="anonymous"
	/>
	<link
		rel="preload"
		href="/fonts/Streamster.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
</head>
<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<NavLink href="/">Blog</NavLink>
		<NavLink href="/blog/tags">Categories</NavLink>
		<NavLink href="/about">About</NavLink>
		<NavLink href="https://github.com/fullmetalbrackets" target="_blank">GitHub</NavLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		font-family: 'Streamster';
		font-size: 4em;
		margin: 0 0 10px 0;
	}
	nav {
		margin: 0;
		padding: 0;
	}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		header {
			margin: 0;
		}
		h1 {
			font-size: 3.5em;
			margin-left: 4px;
		}
		nav {
			display: inline-flex;
			margin: 0;
		}
		a, a:active, a:visited, a:hover {
			font-size: 1em;
			margin: 0;
			padding: 5px 15px 2em 0;
		}
	}
</style>
