---
import DateIcon from "@icons/calendar.svg";
import TimeIcon from "@icons/clock.svg";

interface Props {
  date: Date;
  class?: string;
}
const { date, class: className } = Astro.props;
---

<local-time datetime={date?.toISOString()} class={className}>
  <span class="date-line">
    <DateIcon width={24} height={24} />
    <span class="date-text">
      {date?.toLocaleDateString("en-us", { year: "numeric", month: "numeric", day: "numeric" })}
    </span>
  </span>
  <span class="time-line">
    <TimeIcon width={24} height={24} />
    <span class="time-text"></span>
  </span>
</local-time>

<script>
  class LocalTime extends HTMLElement {
    connectedCallback() {
      const iso = this.getAttribute("datetime");
      if (!iso) return;

      const formatted = new Date(iso).toLocaleString(undefined, {
        year: "numeric",
        month: "numeric",
        day: "numeric",
        hour: "numeric",
        minute: "2-digit",
        timeZoneName: "short",
      });

      const [date, time] = formatted.split(", ");
      const dateLine = this.querySelector(".date-text");
      const timeLine = this.querySelector(".time-text");
      if (dateLine) dateLine.textContent = date;
      if (timeLine) timeLine.textContent = time;
    }
  }

  customElements.define("local-time", LocalTime);
</script>

<style scoped>
  local-time {
    color: var(--date);
    font-family: var(--sub-font);
    display: inline-flex;
    flex-direction: column;
    font-size: 0.875em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .date-line,
  .time-line {
    display: flex;
    align-items: center;
  }
  svg {
    flex-shrink: 0;
    margin-left: -0.1em;
    margin-right: 0.325em;
    filter: var(--time-svg);
  }
  @media screen and (max-width: 667px) {
    local-time {
      font-size: 16px;
    }
    svg {
      width: 18px;
      height: 18px;
    }
  }
</style>