---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a, a:active, a:visited {
		color: var(--emphasis);
		display: inline-block;
		font-weight: 900;
		font-size: 1.25em;
		text-decoration: none;
		padding: 4px 8px;
		margin-right: 3.5em;
	}
	a:hover, a:focus {
		color: var(--hover);
		font-weight: 900;
		text-decoration: none;
		padding: 4px 8px;
		border-radius: 0.25em;
		background: var(--accent);
	}
	a.active {
		color: var(--hover);
		font-weight: 900;
		text-decoration: none;
		padding: 4px 8px;
		border-radius: 0.25em;
		background: var(--accent);
	}
	@media screen and (min-width: 200px) and (max-width: 600px) {
		a, a:active, a:visited, a:hover, a:focus	 {
			font-size: 1em;
			margin-right: 1em;
		}
	}
</style>