---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a, a:active, a:visited {
		color: var(--yellow);
		display: inline-block;
		font-weight: 900;
		font-size: 1.25em;
		text-decoration: none;
		padding: 5px 10px;
		margin-right: 2em;
	}
	a:hover {
		color: var(--yellow);
		background: var(--accent);
		border-radius: 0.25em;
		font-weight: 900;
		text-decoration: none;
		margin-right: 2em;
		padding: 5px 10px;
	}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		a, a:active, a:visited, a:hover {
			font-size: 1em;
		}
	}
</style>