---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	html {
		--link: #ff8000;
		--hover: #ffb366;
	}
	a, a:active, a:visited {
		color: var(--link);
		display: inline-block;
		font-family: 'JetBrains Mono', monospace;
		font-weight: bolder;
		font-size: 1.25em;
		text-decoration: none;
		margin-right: 2em;
	}
	a:hover {
		color: var(--hover);
		font-weight: bolder;
		text-decoration: none;
		margin-right: 2em;
	}
	@media screen and (min-width: 200px) and (max-width: 767px) {
		a, a:active, a:visited, a:hover {
			font-size: 1em;
		}
	}
</style>