---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Icon from '@icons/chat-quote.svg';

type Props = CollectionEntry<'lifestream'>['data'] & {
  type: 'quote';
};

const { 
  quote,
  attribution,
  url,
  pubDate 
} = Astro.props;
---

<div class="quote-card">
  <blockquote data-type="quote" class=".blockquote-quote">
    <p>{quote}</p>
    {attribution && (
      <span class="quote-attribution">
        — {attribution} {url && (
          <a href={url} class="external-link" target="_blank" rel="noopener noreferrer" aria-label="external link">
          </a>
        )}
      </span>
    )}
  </blockquote>
</div>
<span class="info"><FormattedDate date={pubDate} /><Icon width={24} height={24} /></span>

<style>
  .quote-card {
    display: grid;
    color: var(--emphasis);
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    place-items: center;
    gap: 0;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .quote-card:hover {
    transform: translateY(-4px);
  }
  
  blockquote {
    margin-top: 0;
    border-radius: 0.5em 0 0.5em 0;
  }

  blockquote p:first-of-type {
    color: var(--text);
    font-size: 1em;
    line-height: 1.3;
    font-style: italic;
    font-weight: 300;
    margin-top: -0.25em;
    margin-bottom: 0;
  }

  .quote-attribution {
    margin: 0.75em 1.5em -0.75em 0;
    font-size: 0.875em;
    text-align: right;
    font-family: var(--sub-font);
    color: var(--emphasis);
  }

  .quote-attribution a {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
  }

  .info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 0.5em;
    margin: -1.2em 0.15em 0 0.15em;
    padding: 0;
    font-family: var(--sub-font);
    font-size: 0.875em;
  }

  .info svg {
    filter: var(--lifestream);
    margin: 0 0.25em 0 0;
    padding: 0;
  }

  a.external-link::after {
    font-size: 1.5em;
    margin: 0 0.125em 1px 0;
  }
</style>