---
import { getCollection } from "astro:content";

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
  }
  ul {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  ul li {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
  }
  span a {
    border-bottom: 2px transparent;
  }
  span a:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  a button {
    background-color: var(--tags);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    margin: 0 0 0.5em 0;
    font-family: "M Plus Rounded 1c Med";
  }
  section a:hover {
    text-decoration-color: var(--link);
  }
  .tag {
    color: var(--date);
    margin-top: 4px;
  }
  .tag span {
    color: var(--primary);
  }
  @media (hover: hover) {
    a:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    a:hover button {
      outline-offset: 1px;
    }
  }
  @media (hover: none) {
    a:hover button {
      background-color: var(--menu);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    main {
      margin: 0 10px;
    }
    span {
      font-size: 100%;
    }
    ul {
      width: 100%;
    }
    li {
      margin: 0 1em 2em -1em;
    }
  }
</style>

<section>
  <h2>Recent Links</h2>
  <ul>
    {
      links.slice(0, 5).map((link) => (
        <li>
          <span>
            <a href={link.data.url} target="_blank">
              {link.data.title}
            </a>
          </span>
          <span class="tag">Type: <span>{link.data.tags}</span></span>
          <span>{link.data.description}</span>
        </li>
      ))
    }
  <a href="/links"><button>More Links</button></a>
</ul>
</section>
