---
const notes = (await Astro.glob('../pages/notes/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<style scoped>
  section {
    margin-bottom: 4em;
  }
  span {
		font-size: 110%;
    line-height: 1.4;
	}
	.desc {
    line-height: 1.4;
		font-size: 90%;
	}
	.desc {
		font-size: 90%;
	}
	ul {
		width: 85%;
	}
	li {
		display: inline-flex;
		flex-direction: column;
		margin: 0 2em 2em -1em;
		line-height: 1.2;
	}
	.recent-notes-line {
		margin: 1em 0 2em 0;
	}
	.notes-title {
		display: inline-flex;
		flex-direction: row;
		margin-top: 0.25em;
	}
	.notes-title a, .notes-title a:active, .notes-title a:visited {
		color: var(--primary);
	}
	.notes-title a:hover {
		color: var(--menu);
	}
	a button {
		background-color: var(--tags);
		color: #000;
		border-radius: 0.25em;
		cursor: pointer;
		font-weight: 600;
		padding: 4px 8px;
		text-decoration: none;
		text-overflow: ellipsis;
		-webkit-transition: all .10s ease-out;
		-moz-transition: all .10s ease-out;
		-o-transition: all .10s ease-out;
		transition: all .10s ease-out;
		margin: 0 8px 8px 1em;
	}
	@media (hover: hover) {
		a:hover button  {
			box-shadow: -4px -4px 0 #000;
			transform: translate(4px,4px);
		}
		a:hover button {
			outline-offset: 1px;
		}
	}
	@media (hover: none) {
		a:hover button {
			background-color: var(--menu);
		}
	}
	.foot-line {
		margin-top: 4em;
	}
  @media screen and (min-width: 200px) and (max-width: 667px) {
		main {
			margin: 0 10px;
		}
		span {
			font-size: 100%;
		}
		ul {
			width: 100%;
		}
		li {
			margin: 0 1em 2em -1em;
		}
  }
</style>

<section>
  <h2>Recent Notes</h2>
  <hr class="recent-notes-line">
    {notes.slice(0, 5).map((note) => (
      <ul class="notes-ul">
        <li class="notes-li">
          <div class="notes-dates">
            <time datetime={note.frontmatter.pubDate}>
              {new Date(note.frontmatter.pubDate).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              })}
            </time>
          </div>
          <div class="notes-title">
            <a href={note.url} rel="prefetch-intent">
              <span>{note.frontmatter.title}</span>
              <p class="desc">{note.frontmatter.description}</p>
            </a>
          </div>
        </li>
      </ul>
    ))}
  <a href="/notes"><button>More Notes</button></a>
</section>