---
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  span {
    font-size: 110%;
    line-height: 1.4;
  }
  p {
    margin: 0;
  }
  .desc {
    line-height: 1.4;
    font-size: 90%;
  }
  ul {
    margin-bottom: 0;
  }
  li {
    display: inline-flex;
    flex-direction: column;
    margin: 0 2em 2em -1.8em;
    padding-bottom: 0.25em;
    line-height: 1.2;
    border-bottom: 2px solid transparent;
  }
  .recent-posts-line {
    margin: 1em 0;
  }
  .posts-title {
    display: inline-flex;
    flex-direction: row;
    margin: 0.25em auto;
  }
  .posts-title a,
  .posts-title a:active,
  .posts-title a:visited {
    color: var(--primary);
  }
  .posts-title a:hover {
    color: var(--menu);
  }
  .date {
    font-size: 0.75em;
    margin-bottom: 0.25em;
  }
  a button {
    background-color: var(--tags);
    color: #000;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    margin: 0 0 0 0.25em;
    font-family: "M Plus Rounded 1c Med";
  }
  li:hover {
    padding-bottom: 0.25em;
    border-bottom: 2px solid var(--hover);
  }
  @media (hover: hover) {
    a:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    a:hover button {
      outline-offset: 1px;
    }
  }
  @media (hover: none) {
    a:hover button {
      background-color: var(--menu);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    main {
      margin: 0 10px;
    }
    span {
      font-size: 100%;
    }
    ul {
      width: 100%;
      margin: 0;
    }
    li {
      margin: 0 1em 2em -1.8em;
    }
  }
</style>

<section>
  <h2>Recent Posts</h2>
  <hr class="recent-posts-line" />
  <ul>
    {
      posts.slice(0, 3).map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`} rel="prefetch-intent">
            <p class="posts-title">{post.data.title}</p>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <p class="desc">{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
  <a href="/blog"><button>More Posts</button></a>
</section>
