---
import { getCollection } from "astro:content";

const links = (await getCollection("links")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style scoped>
  h2 {
    margin-bottom: 0.3em;
    font-family: var(--sub-font);
    font-weight: 900;
  }
  .container {
    background-color: var(--blockquote);
    border-radius: 0.5em;
    margin: 0.5em auto 0 auto;
    padding: 1.5em;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1em auto;
    padding-bottom: 0.5em;
  }
  span a {
    border-bottom: 2px transparent;
  }
  span a:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  section a:hover {
    text-decoration-color: var(--link);
  }
  .tag {
    color: var(--primary);
  }
  .tag, .data {
    font-size: 0.9em;
  }
  .link-tag {
    font-family: var(--sub-font);
    background-color: var(--info);
    color: #000;
    border: 0;
    border-radius: 0.25em;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 0.75em;
  }
  .more {
    font-family: var(--sub-font);
    font-weight: 700;
  }
  .more a {
    border-bottom: 2px solid transparent;
  }
  .more a:hover {
    border-bottom: 2px solid var(--hover);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }
  @media (hover: hover) {
    a:hover button {
      box-shadow: -4px -4px 0 #000;
      transform: translate(4px, 4px);
    }
    a:hover button {
      outline-offset: 1px;
    }
  }
  @media (hover: none) {
    a:hover button {
      background-color: var(--menu);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 667px) {
    main {
      margin: 0 10px;
    }
    span {
      font-size: 100%;
    }
    ul {
      padding: 0.75em;
      width: 100%;
    }
    li {
      margin: 0 1em 2em -1em;
    }
    .tag {
      margin: 0.15em 0;
    }
  }
</style>

<section>
  <h2>Recent Links</h2>
  <div class="container">
    {
      links.slice(0, 5).map((link) => (
        <div class="list">
          <span>
            <a href={link.data.url} target="_blank" data-umami-event="recent-link">
              {link.data.title}
            </a>
          </span>
          <span class="tag">Type: <span class="link-tag">{link.data.tag}</span></span>
          <span>{link.data.description}</span>
        </div>
      ))
    }
    <div class="more">
      <a href="/links/">Browse all links &rarr;</a>
    </div>
  </div>
</section>
