---
---

<style scoped>
    .scroll {
      position: fixed;
      top: 1.75em;
      left: 0;
      z-index: 55;
      height: 0.25em;
      background-color: var(--primary);
    }
</style>

<div id="scroll-progress" class="scroll">
</div>

<script is:inline type="module">
    window.addEventListener("scroll", function () {
      const scrollableHeight =
        document.documentElement.scrollHeight - window.innerHeight;
      const scrolled = window.scrollY;
      const progressBar = document.getElementById("scroll-progress");
      const progress = (scrolled / scrollableHeight) * 100;
      progressBar.style.width = progress + "%";
    });
</script>