---
import Email from '@icons/email.svg';
import Mastodon from '@icons/mastodon.svg';
import Bluesky from '@icons/bsky.svg';
import GitHub from '@icons/gh.svg';
import BuyMeCoffee from '@icons/bmc.svg';
import { GITHUB, BLUESKY, MASTODON, DONATE } from '@consts';
---

<style scoped>
    .u-photo, .u-logo {
        display: none;
    }
    .personal-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5em;
        margin: 1.5em auto -0.75em auto;
        padding: 0;
        height: 1vw;
    }
    .personal-links a {
        filter: var(--svg);
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .personal-links a:hover {
        filter: var(--ext);
    }
    svg {
        height: 32px;
        width: 32px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    svg:hover {
        animation: wiggle 0.25s ease-in-out;
    }
    @media (hover: none) {
        svg:hover {
            animation: none;
        }
    }
    @media screen and (min-width: 200px) and (max-width: 667px) {
        .personal-links {
            justify-content: center;
            gap: 2em;
        }
        .personal-links a:last-of-type {
            margin-right: 0;
        }
    }
</style>

<div class="personal-links">
    <a class="u-email" href="mailto:contact@fullmetalbrackets.com" target="_blank" data-umami-event="front-page-mail">
        <Email />
    </a>
    <a rel="me" href={MASTODON} target="_blank" data-umami-event="front-page-social">
        <Mastodon />
    </a>
    <a rel="me atproto" href={BLUESKY} target="_blank" data-umami-event="front-page-bsky">
        <Bluesky />
    </a>
    <a rel="me" href={GITHUB} target="_blank" data-umami-event="front-page-github">
        <GitHub />
    </a>
    <a rel="me" href={DONATE} target="_blank" data-umami-event="front-page-coffee">
        <BuyMeCoffee />
    </a>
</div>
