---
import type { CollectionEntry } from 'astro:content';
import { YouTube as YouTubeEmbed } from 'astro-embed';
import FormattedDate from './FormattedDate.astro';
import Icon from '@icons/youtube.svg';

type Props = CollectionEntry<'lifestream'>['data'] & {
  type: 'youtube';
  index?: number;
  videoId: 'string';
};

const { 
  videoId,
  title,
  note,
  pubDate 
} = Astro.props;
---

<div class="youtube-card">
  <div class="youtube-embed">
    <YouTubeEmbed id={videoId} />
  </div>
  {title && <h3 class="youtube-title">{title}</h3>}
  {note && <p class="note">{note}</p>}
</div>
<span class="info"><FormattedDate date={pubDate} /><Icon width={36} height={36} /></span>

<style>
  .youtube-card {
    background: var(--code-bg);
    border-radius: 0.5em;
    overflow: hidden;
    width: 100%;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .youtube-card:hover {
    transform: translateY(-4px);
  }

  .youtube-embed, .youtube-embed :global(lite-youtube) {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
  }
  
  .youtube-title {
    margin: 1rem 1rem 0.5rem;
    font-family: var(--sub-font);
    font-size: 1.25em;
    font-weight: 900;
    line-height: 1.1;
  }
  
  .note {
    margin: 0.6em 2.75em 1em 1em;
    font-style: italic;
    font-size: 0.75em;
    font-weight: 200;
    color: var(--text);
    line-height: 1.2;
  }

  .info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    font-size: 0.5em;
    margin: -0.1em 0.15em 0 0.15em;
    padding: 0;
    font-family: var(--sub-font);
    font-size: 0.875em;
  }

  .info svg {
    filter: var(--lifestream);
    margin: 0 0.25em 0 0;
    padding: 0;
  }
</style>