---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
const { desc } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={desc} />
    <style>
      body {
        font-size: 1.125em;
      }
    </style>
	</head>

	<body>
		<Header />
		<main>
      <slot>
				<p>
					If you're seeing this, something went wrong! Please try <em>reloading the page</em>.
				</p>
			</slot>
		</main>
		<Footer />
	</body>
</html>