---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const { title } = Astro.props.frontmatter || Astro.props;
const { description } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
	<head>
		<script is:inline>
			const theme = localStorage.getItem('theme') || 
				(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
			
			if (theme === 'dark') {
				document.documentElement.classList.add('dark');
			}
		</script>
		
		<BaseHead title={title} description={description} />
		<slot name="head" />
	</head>

	<body>
		<Header />
		<main>
			<slot>
				<p>
					If you're seeing this, something went wrong! Please try <em>reloading the page</em>.
				</p>
			</slot>
		</main>
		<Footer />
	</body>
</html>