name: Latest blog post
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/content/blog/**
# permissions:
#   contents: read
#   pull-requests: write

jobs:
  update-readme-with-blog:
    name: (action) update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://fullmetalbrackets.com/rss.xml"
